[2021-01-19 13:03] leikoilja opened #6 "Implement error handling when token fetching fails for those relying on tokens"
**Is your feature request related to a problem? Please describe.**
Implement error handling when token fetching fails for those relying on tokens.

**Describe the solution you'd like**
Perhaps a fallback boolean should be set if tokens are failing to load and therefore the alarm/timers can't be retrieved

**Additional context**
See [this](https://community.home-assistant.io/t/solution-to-track-you

[2021-02-08 14:01] ollioddi opened #14 "Failing to install due to glocaltokens dependancy (grpcio-tools)"
Hi.

Im having trouble installing your addon, which btw is amazing work.
I followed the guide provided but when i launch homeassistant and try to setup the integration nothing happens. Multiple errors show up in the logs.

[code]
Not sure if this last error is regarding glocaltokens.
[code]
Any suggestions? Could very well be my fault.

[2021-02-08 15:36] leikoilja commented on #14
Hey, @ollioddi.
There is currently a problem with `grpcio-tools` and `grpcio` dependencies when running the package on `arm` based devices, like raspberry pi. That's why installation of `glocaltokens` fails when adding an addon in Home Assistant.
I currently don't have time to take a look at it but will try finding a solution in the next few days/week.

[2021-02-08 17:52] ollioddi commented on #14
Hey @leikoilja,

Thanks for the response. I get why it might not work on a raspberry pi, but my setup runs on a desktop x86 platform on ESXI using the official VM image.

[2021-02-09 20:57] DurgNomis-drol commented on #14
Try this in console/terminal: `apk add gcc g++ linux-headers` This makes it possible to compile grpcio-tools on raspberry pi. This problem exists because the docker image is based on alpine. I dont know if the official VM image also is based on alpine. But the error you get is because you are missing a c++ compiler.

[2021-02-09 21:19] ollioddi commented on #14
Hey @DurgNomis-drol,

Thank you very much. It did something but i am still getting some errors regarding c++. Any other suggestions?

I suppose that you are aware of this problem already, but i am eager to test it :)

[code]

[2021-02-09 21:24] DurgNomis-drol commented on #14
Try installing grpcio-tools manually in terminal. Run: `pip install grpcio-tools==1.31.0` Same versions as grpcio in Homeassistant. This may take some time depending on how fast your system are. On rpi it takes about 20 -30 minutes.

[2021-02-10 13:38] ArnyminerZ opened #16 "Implement UI device setup"
**Is your feature request related to a problem? Please describe.**
I have been developing another integration with more or less the same idea in mind, it would be nice to join the two in this one, and not have multiple integrations with the same purpose laying around.

**Describe the solution you'd like**
Add the config_flow device setup and features of [ArnyminerZ/HomeAssistant-GoogleHome](https:

[2021-02-10 13:39] DurgNomis-drol opened #17 "Do not hammer Google Oauth API"
**Describe the solution you'd like**
Make sure that we are not hammering the Google Oauth when trying to retrieve master_token, access_token and localAuthToken.

[2021-02-10 13:45] DurgNomis-drol commented on #16
I was also building my own integration [See here](https://github.com/DurgNomis-drol/ha-google_home_local), until i found @leikoilja also were making. We have already decided to combine ours and i think it would be great if you would join us.

[2021-02-10 14:05] ArnyminerZ commented on #17
If I'm not wrong, this is done through the `glocaltokens` API, so it should be partially solved as stated in [issue 9](https://github.com/leikoilja/glocaltokens/pull/9).

As far as I've seen, the master token is gotten [here](https://github.com/leikoilja/ha-glocaltokens/blob/2531b71e3329a50b67a4065d47e299328254ff06/custom_components/ha-glocaltokens/api.py#L34), so simply the `glocaltokens` API sho

[2021-02-10 14:07] ArnyminerZ commented on #17
Also, isn't the `GlocaltokensApiClient` class a bit redundant in [`api.py`](https://github.com/leikoilja/ha-glocaltokens/blob/master/custom_components/ha-glocaltokens/api.py#L17)? I believe `GLocalAuthenticationTokens` from `glocaltokens.client` should be used instead.

[2021-02-10 14:14] DurgNomis-drol commented on #17
Yes it is, api.py should only contain the API for getting information from devices. glocaltoken is then rest.

See my file [api.py](https://github.com/DurgNomis-drol/ha-glocaltokens/blob/master/custom_components/ha-glocaltokens/api.py)

This was mostly made as an reference so we would remember to implement it correctly.

[2021-02-10 14:17] ArnyminerZ commented on #17
Ok, I'm working on adding a device configurator from the UI, will update at #16

[2021-02-10 14:22] ArnyminerZ commented on #14
I have the same issue on the Home Assistant Docker installation in Windows using Docker. In my case, the error is as follows:
[code]
*(Skipped pip version warning)*

[2021-02-10 14:27] DurgNomis-drol commented on #16
Setting up this integration works from the UI already. When you say device configurator, do you mean building a way to supply each device with an IP so we can connect to it. Homegraph does not include an IP of each device.

Please see my pull request and build up on that. So we dont do same work twice.

[2021-02-10 14:30] DurgNomis-drol commented on #14
The problem is that Homeassistant docker is based upon Alpine. `grpcio grpcio-tools` buildwheels doesn't work with Alpine. @leikoilja have already made an issue with Homeassistant so we can make it work.

[2021-02-10 14:50] ArnyminerZ commented on #16
I meant not having to add the REST device in `configuration.yaml`. Adding an UI to create all the GET from [GHLocalApi](https://rithvikvibhu.github.io/GHLocalApi) as sensors. But will stop working on this, since it's secondary, and start researching a "device discovery" way of getting the connected devices to the network, since I've just had an idea with the [`PyChromecast`](https://pypi.org/proje

[2021-02-10 14:59] DurgNomis-drol commented on #16
Okay, my pull request and the integration i have build retrieves timers and alarms. The only thing that is need in that pull request i have made, is a way to retrieve an IP for each device so that It can create sensors for each device(Right now it only works for one device). There are also a couple of small things like getting the sensors to update( The API retrieves every 15 secs. But doesn't upd

[2021-02-10 15:07] ArnyminerZ opened #18 "[dev] Implement IP address autodiscovery (zeroconf)"
Discovery should be implemented, in order to detect the Google Home device's IP. By using the `pychromecast` API, this can be achieved, for example, with the following snippet:

[code]
The port is more or less useless, since as far as I know, for every Google Home the port is the same: `8009`, but, who knows.

This should be added to the integration in the `discovery.py` file, as stated by the [Ho

[2021-02-10 15:09] ArnyminerZ commented on #16
Yeah, will start working on that, I find it more important than the other, see #18.

Have just made an snippet that works flawlessly, so I will keep going in that way. Still have to do some research on how discovery works on Home Assistant, but I hope it won't be such a mistery.

[2021-02-10 15:14] DurgNomis-drol commented on #16
Nice! This looks promising. I will test and help as soon as you have something.

How do we make sure that the discovered ip correlate with the same device in homegraph?

[2021-02-10 15:34] leikoilja commented on #16
Nice, I m happy to see us collaborating together to make the HA integration work.

@DurgNomis-drol, I have recently seen something interesting in homegraph. When `glocaltoken` package fetches tokens it can also extract local IP address (within your home network) from devices. We can extent `glocaltoken` client to fetch IPs per device together with tokens. The only problem is that those IPs are dyn

[2021-02-10 15:37] leikoilja commented on #18
I like the idea of auto discovery! I guess for now we can simply utilize `glocaltokens` package to get IP addresses (See https://github.com/leikoilja/ha-glocaltokens/issues/16#issuecomment-776796188), but auto discovery would be a whole new level 😎

[2021-02-10 15:41] leikoilja commented on #17
Agreed, the initial implementation of `GlocaltokensApiClient` is a bit redundant, but hopefully, it will grow as the integration grows. The current file structure was mostly followed HA integration blueprint and that class was left there as a placeholder

[2021-02-10 15:54] DurgNomis-drol commented on #18
Nice, that solves the problem then. I also tried to find it in homegraph but couldn't, do you have some information on how?

[2021-02-10 16:22] leikoilja opened #19 "Repo/Integration renaming -> ha-google-home"
Now that we are adding more features like alarms/timers fetching, this repo is no longer makes sense to be called `ha-glocaltokens`, cause it's not just tokens we are fetching. How about we rename this repo into something like `ha-google-home`? Or is it too big of a shot? Anyways, let's discuss it here, @DurgNomis-drol, @ArnyminerZ

[2021-02-10 16:27] leikoilja commented on #18
I will try digging in tonight, will keep you posted if I ll find a way how to. Will probably implement it into `glocaltoken` right away, if I ll be able to find those :)

[2021-02-10 18:11] DurgNomis-drol commented on #19
I really like ha-google-home, but i dont know if HA will allow that name

[2021-02-10 19:44] DurgNomis-drol commented on #18
what about hostnames? can we compare hostname in homegraph to a hostname found with pychromcast? or are there other identifiers?

[2021-02-10 19:58] ArnyminerZ commented on #16
I was hoping that was an option, but didn't find it 😮. Maybe I didn't find hard enough. In that case, i don't think `PyChromecast` is necessary, everything, even autodiscovery could be done directly with `glocaltoken`, which would be really convenient. Maybe opening a new issue there regarding device discovery?

[2021-02-10 20:00] ArnyminerZ commented on #19
I think `ha-google-home` is pretty convenient, and Home Assistant used to have a Google Home extension, so I don't think that would be a big deal to accept.

[2021-02-10 20:01] ArnyminerZ commented on #17
So I think it would be better to simply work on `glocaltokens` as a library, that is used by `ha-glocaltokens`, so code won't be doubled, and improvements on `glocaltokens` would serve for `ha-glocaltokens`.

[2021-02-10 20:04] DurgNomis-drol commented on #16
See #18

[2021-02-10 20:10] DurgNomis-drol commented on #17
Yes, some of things should be moved into `glocaltokens` instead. Should we wait until we have #11 merged? Discovery of the IP is what is holding back the integration from working very well

[2021-02-10 20:18] leikoilja commented on #19
Sweet, let's try doing that! Will open a PR for that in the next few days when the open PR is merged

[2021-02-10 20:26] leikoilja commented on #18
I ll try to dig deeper tomorrow into homegraph, because somehow I remember seeing the IP addresses of devices somewhere 😄  I can't just let it go now

[2021-02-10 21:17] ArnyminerZ commented on #18
I think in that case it's easier to simply show the user a list of devices from `pychromecast`, and then create a relation between the "display name" in pychromecast and in Homegraph, since they should be the same.

[2021-02-10 21:18] ArnyminerZ commented on #18
By looking at the [RPC API docs](https://developers.google.com/assistant/smarthome/reference/rpc/google.home.graph.v1#google.home.graph.v1.Device) I can't find anything about an IP address...

[2021-02-10 21:32] DurgNomis-drol commented on #18
Using mDNS(pychromecast) we can make an reverse lookup and get the IP from that. If we can find I'd string in homegraph. Then we can make an reverse lookup with socket.gethostbyname in python by adding ._tcp.local afterwards. But I don't know if this will work or if homegraph has this string included

[2021-02-10 22:51] ArnyminerZ commented on #18
I've implemented some code at the [`glocaltokens`](https://github.com/leikoilja/glocaltokens/pull/13) repository. Did some testing and it seems to work pretty well.

[2021-02-11 09:29] ArnyminerZ commented on #18
For now, will move the conversation to [`glocaltokens`](https://github.com/leikoilja/glocaltokens/pull/13) and once it's implemented there, we will start working at `ha-glocaltokens`. Will reopen as soon as it's ready there.

[2021-02-13 08:56] leikoilja commented on #14
To sum it up, the problem currently is that `glocaltokens` underlying package is relying on `grpcio==1.31.0` and `grpcio-tools`. Those two fail to build wheels because the operating system where HA is running is lacking additional compilers such as `gcc g++ linux-headers`.
We have a separate issue for that under `glocaltokens` package: https://github.com/leikoilja/glocaltokens/issues/11

Since the

[2021-02-13 09:09] DurgNomis-drol commented on #14
Agree, i will reply over at [glocaltokens](https://github.com/leikoilja/glocaltokens/issues/11)

[2021-02-13 12:34] ArnyminerZ opened #22 "Cannot configure integration"
## Version of the custom_component
Latest on `master`

## Configuration
`configuration.yaml`
[code]

## Describe the bug
When trying to configure the integration through the add integration UI (`config_flow`), the window goes back to the integrations list.

## Debug log
In the browser, I get:
[code]
More request info:\
*Contents:*
[code]
*Cookies:*
[code]
*Headers:*
[code]

[2021-02-14 04:28] leikoilja commented on #22
I have actually noticed similar problem yesterday and honestly don't think the integration is yet ready to be tested/used 😄 😕  There is a bug with how `get_android_id` is working on `glocaltokens` and that might be the reason why `ha-glocaltokens` fails to initialize. I suggest we focus on `glocaltokens` to merge and hanging PRs and changes to make it more robust first. And then we get back to `ha

[2021-02-14 05:17] leikoilja commented on #16
This is probably not needed anymore. Feel free to reopen if otherwise

[2021-02-14 05:17] #16 closed

[2021-02-14 08:12] DurgNomis-drol opened #24 "[dev] Implement timers/alarms updates"
## Describe the bug

You still have to reload the integration to update timers and alarms, i dont know why and have tried a lot to fix it but it is over my skill level ;)

[2021-02-14 08:14] DurgNomis-drol opened #25 "[dev] Implement multiple timer/alarm instances"
Discuss and implement timer/alarm instances

See some ideas at https://github.com/leikoilja/ha-glocaltokens/pull/11#discussion_r575768656

Some comments about sorting [here](https://github.com/leikoilja/ha-google-home/issues/50#issuecomment-790646951)

[2021-02-14 09:58] DurgNomis-drol commented on #18
Waiting for glocaltokens to merge device discovery. See [here](https://github.com/leikoilja/glocaltokens/pull/13)

[2021-02-14 10:32] DurgNomis-drol opened #26 "[dev] Google home Timers card by me"
Where should i make pull request to so we can separat the integration and the card ?

See card [here](https://github.com/DurgNomis-drol/ha-google-home-timers-card)

[2021-02-14 11:00] DurgNomis-drol commented on #22
On some systems `get_android_id` does not generate a valid mac, why, i dont know, but i had this problem som time ago. It only seems to exists on some problems, not others. My laptop does work, but my raspberry pi does.

[2021-02-14 11:11] DurgNomis-drol opened #28 "[dev] Implement delete function for timers and alarms"
They use the same endpoint to delete them

I have some code that works, but have to be modified to work with this integration.

I will make pull request soon with this feature.

[2021-02-14 11:39] leikoilja commented on #22
Yeh, that's exactly the issue I have found out. I will fix it today with a new PR of `glocaltokens`

[2021-02-14 11:41] leikoilja commented on #26
This is great stuff and additive! I actually don't know if we can add frontend files together with this custom integration, but it would be awesome to make them work together. We need to research HA documentation a little more how to do it, otherwise we ll have to have the frontend cards as a separate repository that should follow HACS documentation to be able to expose it via HACS

[2021-02-14 11:47] DurgNomis-drol commented on #26
Agreed!
Right now this integration is my main focus, when we are closer to a release i will focus more on this card :smile:

[2021-02-14 15:42] ArnyminerZ commented on #22
Ok, so I will wait paciently and keep working on `glocaltokens`, just wanted to take a look for researching about discovery. Will leave the issue open just for reference on the progress of the `get_android_id` fix.

[2021-02-14 15:51] DurgNomis-drol commented on #22
Discovery is pretty much done(See dev branch), I'm just waiting for glocaltokens to be updated and a new release is made with discovery included.

[2021-02-16 05:57] leikoilja commented on #18
@DurgNomis-drol, device discovery in `glocaltokens` is merged, thanks to @ArnyminerZ. Now we should look deeper into whether we can use that functionality straight from `glocaltokens` or we should utilize HA build-in mechanisms as described here: https://developers.home-assistant.io/docs/creating_integration_manifest/#zeroconf

[2021-02-16 05:58] leikoilja commented on #6
This should be taken care of in https://github.com/leikoilja/glocaltokens/issues/3.

[2021-02-16 05:58] #6 closed

[2021-02-16 06:01] leikoilja commented on #17
The initial issue of hammering Google APIs should be fixed now in `glocaltokens`, see https://github.com/leikoilja/glocaltokens/issues/3.

[2021-02-16 06:01] #17 closed

[2021-02-16 06:20] DurgNomis-drol commented on #18
I don't think there is any reason to duplicate his work. The only reason that we need discovery in the first place was because of the IP address. I have already made sure that dev branch should work, we just have to delete 1 line and we are done.

[2021-02-16 06:23] leikoilja commented on #18
Sounds good, @DurgNomis-drol. Do you want to take a lead on this one? (If so, please just assign yourself to the ticket) 💥

[2021-02-16 06:29] DurgNomis-drol commented on #18
Yes I will do that

Off topic, do we only aim to implement this as a custom component or do we aim to get it include in the official release?

[2021-02-16 08:57] ArnyminerZ commented on #18
I think that shouldn't be needed, unless we want to do like chromecast does, which detects devices in the network without having to search for them, which would be quite useful.

[2021-02-16 09:08] DurgNomis-drol commented on #18
It already does this :smile:

[2021-02-16 09:30] leikoilja commented on #18
@DurgNomis-drol, do you mean that it already detects chromecasts as well?

[2021-02-16 09:37] DurgNomis-drol commented on #18
Everytime it updates it self, it checks if glocaltokens have found a new google home device and then adds it and create sensor, or it removes it if it know longer exists

[2021-02-16 09:41] leikoilja commented on #18
Right! Nevermind, I think i got confused for a second.

Anyways, do you guys think we should leave "utilizing HA zeroconf" for later as a "future enhancement"?

[2021-02-17 05:35] leikoilja commented on #18
Closed in https://github.com/leikoilja/glocaltokens/pull/13

[2021-02-17 05:35] #18 closed

[2021-02-18 07:29] DurgNomis-drol opened #36 "[dev] Make sure that we retrieve an IP from glocaltokens"
Make sure that we get an IP from glocaltokens or else throw an error or something.

[2021-02-18 07:58] leikoilja commented on #36
Should we implement it on `glocaltokens` package level? I think the check has to be inside `ha-google-home`. We could probs log a warning/error and ignore the entities without IP address when starting up?

Sorry it it's non-intuitive or confusing, I was thinking of using `glocaltokens` github label for tasks relying to be fixed on the python package.

[2021-02-18 08:03] DurgNomis-drol commented on #36
No you are right, i just misunderstood the use of glocaltokens.

I will submit a fix making it a warning after I have confirmed that we get the IP. As of now we don't, and i don't know why. See issue over at `glocaltokens` 🤔

[2021-02-18 08:24] ArnyminerZ commented on #36
@leikoilja I think it should be implemented here. As you have said, showing a warning, and not showing the device. Because, it might happen (I'm not sure), that the device is added in your Google Account (Homegraph), but disconnected from the network. So `glocaltokens` would still show you the device, but `ha-google-home` would not show it to the user.

[2021-02-18 09:53] leikoilja commented on #36
Guys, i have been thinking about it... as @ArnyminerZ have mentioned it might happen that the device is existing but we fail to retrieve IP address. Like what if the google home was disconnected from power or something.. So i propose we do a `status` attribute on the Google device in this integration and set it to `offline` if we fail to fetch IP address? That way we can check IP addresses quite o

[2021-02-18 09:54] ArnyminerZ commented on #36
That would be really convenient, and an awesome way to tell the user there was a kind of error.

[2021-02-18 10:02] ArnyminerZ commented on #24
I believe it has something to do with the way you have implemented refresh through the update coordinator. Shouldn't it be done through the `update` or `async_update` methods of the sensor (Check [docs](https://developers.home-assistant.io/docs/core/entity)). I've never worked with the update coordinator as you have done. I usually do it through those methods, and it usually works well, so maybe i

[2021-02-18 13:22] DurgNomis-drol commented on #24
I only build upon @leikoilja, and i have also never used the coordinator. So i hoped that @leikoilja  knows something about it 😊

[2021-02-18 13:27] leikoilja commented on #24
Hm, I actually tested the coordinator and it was working when i first implemented it, so it was refreshing the sensors periodically. But hey-ho, so many things were changed, that this might not be working correctly yet 😄  I m back to my home-setup in a week and will be able to focus a bit more on this one. I simply don't have RPi/Google Home at hands to play and test it around with :) If someone h

[2021-02-18 13:29] DurgNomis-drol commented on #24
No hurry, there are other aspects like delete functions that i will look into in the meanwhile 😁

[2021-02-18 16:27] DurgNomis-drol commented on #36
See [here](https://github.com/leikoilja/glocaltokens/issues/28#issuecomment-781466485)

[2021-02-19 13:29] #22 closed

[2021-02-19 13:30] #19 closed

[2021-02-19 14:01] DurgNomis-drol commented on #36
It still returns ip `None`, same for port

`{'device_name': 'Simons TV', 'local_auth_token': 'mytoken', 'google_device': {'ip': None, 'port': None}}`

[2021-02-19 14:25] leikoilja commented on #36
Yes, that's the expected behavior. `glocaltokens` is not supposed to fetch IP/port, we will utilize HA `zeroconf` instance for that. And the warning is gone because we disabled the `zeroconf` in `glocaltokens`.
We should create a separate issue for device autodiscovery within HA utilizing their `zeroconf`

[2021-02-19 14:26] DurgNomis-drol commented on #36
Okay, i just missundeostrod it then.

[2021-02-19 14:27] #36 closed

[2021-02-19 14:36] leikoilja opened #40 "Device discovery using HomeAssistant zeroconf"
**Is your feature request related to a problem? Please describe.**
We need to implement zeroconf device autodiscovery to be able to fetch google device IP addresses using HomeAssistant [zeroconf](https://www.home-assistant.io/integrations/zeroconf/)

**Describe the solution you'd like**
Getting IP addresses and matching them to the existing google devices in the integration

[2021-02-19 14:37] leikoilja commented on #36
No worries 😄  Here we go - https://github.com/leikoilja/ha-glocaltokens/issues/40

[2021-02-19 14:42] DurgNomis-drol commented on #40
Example of how the cast integration uses it [here](https://github.com/home-assistant/core/tree/dev/homeassistant/components/cast)

[2021-02-25 14:31] ArnyminerZ commented on #24
Ok, I have finally managed to get a valid installation of Home Assistant working with `ha-google-home`. The error I'm getting is:
[code]
I'm pulling latest changes to take a look.

[2021-02-25 15:06] DurgNomis-drol commented on #24
This because zeroconf have been disabled, we need to implement HA zeroconf instead of using zeroconf from glocaltokens. As of know we have no way of determining the IP of each device. And that's is why you get that error.

[2021-02-25 15:10] ArnyminerZ commented on #24
Ok, so we should implement the builtin `zeroconf` discovery?

[2021-02-25 15:13] DurgNomis-drol commented on #24
Yes, but I haven't found that much information on how to yet

[2021-02-25 15:19] ArnyminerZ commented on #24
Home Assistant's documentation is a bit peculiar... I'd check the source code of the Cast integration and adapt it to match our needs.

[2021-02-25 15:25] DurgNomis-drol commented on #24
Your absolutely right about that 😆

That probably then easiest way, but I'm not that good at python (yet), do you mind taking a crack at it?

[2021-02-25 15:25] ArnyminerZ commented on #24
Also, I believe the devices are loaded well in `ha-google-home`, since the Home Assistant log shows:
[code]
The thing that I'm not sure about is why the `glocaltokens.client.Device` class doesn't get formatted to dict, since `__str__` is implemented. Will take a look, this would show us whether or not the IP and port get loaded.

[2021-02-25 15:26] ArnyminerZ commented on #24
Yeah, of course, I'm taking a look rn. I think it should be working even with the `zeroconf` issue, but not sure.

[2021-02-25 15:34] DurgNomis-drol commented on #24
Turn on debug and it will show you slot more info from the integration

[2021-02-25 15:37] ArnyminerZ commented on #24
Nevermind, I was using a pretty outdated version 🤦🏼 now I see everything clearier.

[2021-02-25 16:04] leikoilja commented on #24
I'm flying back to my setup coming Saturday, so will jump in some of those tickets pretty soon as well 💥  Thanks for taking a loot at it, @ArnyminerZ

[2021-02-25 16:10] DurgNomis-drol commented on #24
@ArnyminerZ if there's is anything I can help with, I'm here

[2021-02-25 16:35] ArnyminerZ commented on #24
I've found this warning when added the `zeroconf` dependency to the integration:
[code]
I've already opened a new [pr](https://github.com/leikoilja/glocaltokens/pull/34) to `glocaltokens` for implementing this. Waiting to @leikoilja to approve it and start testing.

[2021-02-25 16:40] DurgNomis-drol commented on #24
Does this mean that if your PR is merged in glocaltokens, then we don't have to build zeroconf here and we can just pass it through to glocaltokens? 😊

[2021-02-25 16:47] ArnyminerZ commented on #24
Yeah, I hope so. Everything should work well, we should only need to modify the `api.py` function of `GlocaltokensApiClient` to something like:
[code]
And then, of course, modify the callers.

[2021-02-25 16:55] DurgNomis-drol commented on #24
I'm ready to test as soon as there is something 😁 Great job @ArnyminerZ !

[2021-02-25 17:02] leikoilja commented on #24
Great find, @ArnyminerZ! 🥳
We'll probably need to new release of `glocaltokens` package, right? If so, i ll generate one tonight. Please make sure to bump the `manifest` dependancy to the appropriate version. It's just going to be a patch, so just increment the last digit, like  `glocaltokens==0.2.3`

[2021-02-25 18:07] ArnyminerZ commented on #24
Yes, a new package should be released, so `ha-google-home` can use the new feature.

[2021-02-25 19:06] leikoilja commented on #24
Done ✅

[2021-02-25 20:25] DurgNomis-drol commented on #24
I just tried too incorporate passing the instance through to glocaltokens using the code written above and i dont know how to make it work. It complains about `'coroutine' object is not iterable`. when using it in ` def get_google_devices_information(self, hass):`?

Do we need to rewrite it all too be async or ? (We probably should)

[code]

[code]

[2021-02-26 09:29] ArnyminerZ commented on #24
Since you are calling an async function, for iterating it you should await it, and to await it, `get_google_devices_information` should be also async. This is a bit strange if you haven't worked with async functions. To sum up, you should change this:
[code]
And search for all the functions that call `get_google_devices_information`, and work asyncronously with them. This afternoon I may take a lo

[2021-02-26 18:43] DurgNomis-drol commented on #24
I run in to this error (See below) after i have done what you describe above.

[code]
Python code it fails in:
[code]

And i can't find any information in HA about how to handle it when using async

[2021-02-26 22:33] ArnyminerZ commented on #24
Should take a finer look, but can you try something like awaiting that `coordinator.data` call? Something like:
[code]
Not sure about this, just wondering

[2021-03-02 03:33] leikoilja commented on #14
Happy to announce, this should be fixed now! 💥
See [this thread](https://github.com/leikoilja/ha-google-home/discussions/23#discussioncomment-420354) for more information!

[2021-03-02 03:33] #14 closed

[2021-03-02 12:32] KapJI opened #44 "Simplify manual installation"
**Is your feature request related to a problem? Please describe.**
Copying files from repo folder to `custom_components` is not very convenient.

**Describe the solution you'd like**
I think it'd be much simpler if repo can be just cloden inside `custom_components` without any extra actions. This will simplify interating for contributor as well.

It just needs putting `__init__.py` in the repo roo

[2021-03-02 12:36] KapJI opened #45 "Relax requirements for account name"
**Is your feature request related to a problem? Please describe.**
Requiring stripping of `@gmail.com` is too restrictive. Also note that Google accounts can be on custom domains with G Suite and they probably also should be supported.

**Describe the solution you'd like**
This can be done programatically.

[2021-03-02 12:40] KapJI commented on #45
It's not clear where this requirement is coming from in the first place because `perform_master_login` clearly expects email (and it works): https://github.com/simon-weber/gpsoauth/blob/master/gpsoauth/__init__.py#L65

[2021-03-02 12:48] leikoilja commented on #44
Hey, @KapJI. Thanks for the issue. We are currently working on integrating it into HACS, so it will soon be available for a simpler installation.

For some insights how to install it simpler please see here - https://github.com/leikoilja/ha-google-home/discussions/23#discussioncomment-420354 , but note that `master` is currently broken 😢

I'll close this issue for now, because it's not adding any

[2021-03-02 12:48] #44 closed

[2021-03-02 12:50] leikoilja commented on #45
Thanks for a good insight, @KapJI. We should defs drop the `@gmal.com` requirement and simply keep it as email address.
Will add it as "TODO", but If you have skills and interest and feel like contributing - please drop the PR! 💥

[2021-03-02 20:31] ArnyminerZ commented on #45
I believe `@gmail.com` could be used, and the log in should still be valid, since it's not getting added anywhere, as far as I see.
In [`glocaltokens`](https://github.com/leikoilja/glocaltokens/blob/master/glocaltokens/client.py#L102), it's detailed that it shouldn't be added, but then it calls [`perform_oauth`](https://github.com/simon-weber/gpsoauth/blob/master/gpsoauth/__init__.py#L107) from `g

[2021-03-02 21:54] KapJI commented on #45
Yes, I think both can be used but there is no reason to ask users to remove `@gmail.com`.

[2021-03-02 22:47] ArnyminerZ commented on #45
Yes, I think somebody could test if it works with `@gmail.com`, and if it does, simply remove the warning.

[2021-03-02 22:54] KapJI commented on #45
I tested and it works :)

[2021-03-03 05:52] leikoilja commented on #45
You are right, @KapJI. Gmail also has Gsuit that allows people to have google mails with a whole different alias ending. It can by literally anything like `user@gmail.com` or `user@mycompany.com` where both would point to google services. By stripping `gmail` and then programmatically adding - it locks us to only support `gmail` domains, that does not make sense, since both should be supported ;)

[2021-03-03 07:12] ArnyminerZ commented on #45
Awesome! Opening a PR on that.

[2021-03-03 07:50] #45 closed

[2021-03-04 11:48] #24 closed

[2021-03-04 11:48] #40 closed

[2021-03-04 13:45] KapJI opened #50 "Alarm state format"
## Problem
In #47 alarm state format was changed from unix timestamp to formatted string which is nice and makes it more readable. But I think it should also include time zone because it's a local time.

Before March 28 I live in UTC and can't check this but Sweden uses CET and I believe if in template editor in developer tools you try this, these timestampts won't be equal:
[code]
This makes it h

[2021-03-04 14:01] leikoilja commented on #50
Hmmm, do you think "state" should be a better time format like ISO for easier automation?
Because now we have 'local time' and 'utc' time in attributes one can hook into.

![image](https://user-images.githubusercontent.com/10655107/109973615-eaebfd00-7cf8-11eb-95f3-a4bd7a83853f.png)

[2021-03-04 14:13] KapJI commented on #50
Another option I see is just to make state "on" or "off". It's probably more in line with other home assistant components.

[2021-03-04 14:18] KapJI commented on #50
But anyway adding time zone to `local_time` is a good idea. And in this case I don't see why to keep `date_time_utc`.

[2021-03-04 15:19] leikoilja commented on #50
Both of those sounds really nice. Let's split those into two issues. One to sort the alarms, another to fix the state format.
The tricky part with alarms is that they can be single or repetitive, that integration does not cater for yet.
Let's keep this issue to fix state to provide ISO time, we ll keep `local_time` for UI references and remove `utc` time :)

[2021-03-04 15:27] KapJI commented on #50
So,
1. Make state `on` and `off`
2. Add time zone to `local_time`

Do I get it correctly?

[2021-03-04 16:15] DurgNomis-drol opened #51 "Fails to fetch IP through zeroconf"
## Version of the custom_component

Latest master

## Configuration

[code]

## Describe the bug

It fails to fetch IP through zeroconf. Device is on and a timer is set. Device is a Google Nest Mini

While setting up the integration it finds my device, but i does not when trying to fetch data from it.

## Debug log

See above

[2021-03-04 16:48] leikoilja commented on #50
haha, sorry i got confused myself for a second 😄
Totally agree on 1 and 3. How about keeping `local_time` as is and adding `local_time_iso`?

[2021-03-04 16:51] leikoilja commented on #51
@DurgNomis-drol I am wondering if there might be problems with your zeroconf being inside Docker. You need to double check all the ports are open both for your container and OS you are hosting on.

[2021-03-04 17:08] DurgNomis-drol commented on #51
🤦 You are right, I just tested it on my main HA instance and it works fine. I just forgot that my test server was not using host, but a bridge interface instead. I will close this. Thanks for the help

[2021-03-04 17:09] #51 closed

[2021-03-04 17:15] leikoilja commented on #51
No problem! ;) Do you mind adding that into README to warn others? :)

[2021-03-04 17:17] DurgNomis-drol opened #52 "Change attribute time_left to duration instead"
## Version of the custom_component

Latest master
## Configuration

[code]

## Describe the bug

`time_left` should be `duration` instead. It does not count down, so i think the name is misleading

[2021-03-04 17:17] DurgNomis-drol commented on #51
Yes i will do that 😄

[2021-03-04 17:46] leikoilja commented on #52
ou, my fault, i misunderstood what it was doing 😄

[2021-03-04 18:00] DurgNomis-drol commented on #52
No problem 😄

[2021-03-05 05:49] leikoilja opened #54 "Reuse android_id"
## Version of the custom_component
Latest `master` branch

## Describe the bug
When performing google requests to fetch tokens we should provide **one and the same** android_id, without generating a new id every time. If we do - it will look like dozens of different devices are connected to the same account that might lead to unexpected authentication problems.
We already have some mitigation in t

[2021-03-05 07:27] #50 closed

[2021-03-05 07:27] #52 closed

[2021-03-05 12:30] leikoilja commented on #26
@KapJI, @ArnyminerZ, @DurgNomis-drol  does any of you guys know if we can introduce frontend stuff in the same repo as integration? I know we can def do it in two separate repos, but I am wondering if it's possible to deliver through one and the same integration both backend and frontend related things?

[2021-03-05 13:05] KapJI commented on #26
Well, you can place it in `www` folder in the repo. Not sure about HACS though.

[2021-03-05 13:52] leikoilja opened #58 "Add refresh setting to configuration"
**Is your feature request related to a problem? Please describe.**
Currently the integration updates timers/alarms at a hardcoded period (15 seconds or 5 minutes).

**Describe the solution you'd like**
A configuration UI setting where the user can set a custom update rate. Maybe with some reasonable limits.

[2021-03-05 13:58] leikoilja opened #59 "Introduce services to delete/modify alarms or timers"
**Is your feature request related to a problem? Please describe.**
When one wants to make automation he needs to know what is the soonest timer/alarm to go off. Also when the user wants to delete/modify an alarm/timer how does one do that?

**Describe the solution you'd like**
We should probably look into introducing HA [services](https://developers.home-assistant.io/docs/dev_101_services) with a

[2021-03-05 14:08] DurgNomis-drol commented on #59
Delete is the same endpoint, so i think it should just be one service, and you can also delete multiple at a time.

Can you explain the reasoning(Of where it will be usable) behind a service that get the next alarm/timer, instead of just always have next alarm be the state of `sensor.living_room_alarms`? (Only asking because i'm curious) 😄

Here is a the way i did it in my previous integration:
[c

[2021-03-05 14:18] leikoilja commented on #59
It seems like having the next alarm/timer in the state of the sensor is not really Home Assistant way of doing things. Mostly the purpose of the sensor is to provide data in a useful way "as is", so that can be further utilized in automation/frontend etc. So the frontend or automation would do all the logic of how to extract and present that data. That way no data is lost or limited from integrati

[2021-03-05 14:40] KapJI commented on #59
I think for next timer and next alarm we just need to sort them in state attributes during updates, there is no need for a dedicated service for that. Services should perform some action like deleting or modifying an alarm.

[2021-03-05 14:47] leikoilja commented on #59
I was thinking it might get tricky with next alarm when it comes to recurring alarms, but that actually doesn't matter where to implement that logic in the service or in the sensor state attributes. So let's do it as you propose - in the sensor state attributes, so the first out is the next alarm.

Some tricky scenario to consider:
For example:
- It's Friday now
- First alarm is recurring on Sunda

[2021-03-05 14:49] KapJI commented on #59
Yes, for recurring alarms we should use time when it will fire next time.

[2021-03-05 14:50] KapJI commented on #59
Delete alarm should also accept `entity_id` of alarm or `device_name`. Same for delete timer.

[2021-03-05 15:01] KapJI opened #60 "Make updates faster"
## Problem

Updates now are unreasonably slow and take around 20 seconds.

## Solution
- Run zeroconf only for setup
- Reuse tokens and don't refresh them for every update, they should be valid at least for 1 hour.
- Query alarms and timers from devices in parallel (probably already done)

Basically we can always assume that token is still valid and if request fails, only then we need to fetch the

[2021-03-05 15:59] DurgNomis-drol commented on #59
@KapJI Yes, that what but a very HA way of doing it. And very easy to make it share the same implementation in the backend

@leikoilja I think you are right about that we should do it in th HA way. Should we think about implementing a separate sensor that only have the next alarm time as a state. So we can use it like the alarm sensor that are created from the mobile apps?

[2021-03-05 16:03] leikoilja commented on #59
uuu, i actually like the idea of a whole new sensor which job is to be "next alarm", just like mobile apps provide for android.
@KapJI, what do you think?

[2021-03-05 16:06] KapJI commented on #59
I'm not convinced in how useful it is. It seems to me that simple sorting of alarms should be enough. What problem are you trying to solve?

[2021-03-05 16:08] leikoilja commented on #59
I'm an ios user, but if i understand correctly android users have a sensor called `next_alarm` which is already widely used in automations etc. So what @DurgNomis-drol is proposing is creating a similar sensor which would be a plug-and-play solution for many users, without the need to fetch the first alarm from the list of alarms from a sensor. I'm just thinking how easy/hard it would be in automa

[2021-03-05 16:11] DurgNomis-drol commented on #59
It would be very HA-like to make it conform to that format. I use my alarms sensor from my phone to trigger sunrise light and other things I want to do when i wake up 😊

[2021-03-05 16:14] leikoilja commented on #59
Lucky android users 😄

[2021-03-05 16:18] DurgNomis-drol commented on #59
😆 I actually thought that the IOS app also had sensors.

It is one of the most used features for me

But I don't think it is important to implement that right now, and could easily be a release v2(or 3)

[2021-03-05 16:20] leikoilja opened #61 "401 Unauthorised error handling"
## Describe the bug
We cache local authentication token in `glocaltokens` package, but if the token expires - we don't know and requests fail with 401.
There is a new feature in `glocaltokens` to force reload homegraph that will provide new local auth tokens. See [here](https://github.com/leikoilja/glocaltokens/pull/37). What we need to do is introduce 401 error handling to our `session.get` reque

[2021-03-05 16:22] leikoilja commented on #59
So what is our consensus on this one?
@KapJI, do you have any arguments why sorting would be a better way to go?
Let's find common grounds and create a separate issue for implementing "next alarm" either by sorting of a new sensor type

[2021-03-05 16:33] DurgNomis-drol commented on #59
I think we should sort alarms in the normal sensor for alarms and then implement a new sensor (down the line) that only lists the next alarms ala the same style the mobile app does 😊

[2021-03-05 16:39] KapJI commented on #59
Yes, for convenience `next_alarm` sensor may be useful. But alarm list still need to be sorted, otherwise it's not very useful.

[2021-03-05 16:50] leikoilja commented on #59
Agreed, and we can probably reuse the same logic under the hood for both the sensor and the list of alarms. @DurgNomis-drol can you please help creating a new issue with the stuff we discussed here regarding next alarm? :)

[2021-03-05 16:51] DurgNomis-drol commented on #59
I'm not home right now, but will do it later to night 😊

[2021-03-06 05:47] #25 closed

[2021-03-06 07:11] #28 closed

[2021-03-06 07:18] DurgNomis-drol opened #63 "Add next alarm sensor"
**Is your feature request related to a problem? Please describe.**
Add a alarm sensor that only shows the next alarm as it's state.

I use the sensor from the mobil app to trigger things when i wake up and i think this would be very useful for those people who use there's as an alarm clock.

**Describe the solution you'd like**
This sensor should mimic the same sensor in the mobile app for android

[2021-03-06 07:32] leikoilja commented on #28
@DurgNomis-drol is there any reason why you are closing it?

[2021-03-06 07:34] DurgNomis-drol commented on #28
It is a duplicate of this #59 discussion. But we can keep it open if it is

[2021-03-06 07:51] leikoilja commented on #28
oh, you are right, sorry completely missed it 😄 thanks for spotting it

[2021-03-06 07:57] DurgNomis-drol commented on #28
No problem! 😄

[2021-03-06 08:36] leikoilja commented on #54
@DurgNomis-drol, @ArnyminerZ could any of you help me with this one? I think it should be one of the last things really affecting the stability/robustness of the package. After open PR and this gets merged I believe we should be ready for long awaited first release 😅🤩💥 then we can bring in some testers

[2021-03-06 09:07] DurgNomis-drol commented on #54
I think this should be handled in `glocaltokens` and not `ha-google-home` (like you describe with a method called `set_android_id()` in `glocaltokens`). This would be useful to other applications that depends on `glocaltokens` and then we just pass it back like you have described in `get_google_devices(android_id) `.

[2021-03-06 09:19] DurgNomis-drol commented on #54
See my [PR](https://github.com/leikoilja/glocaltokens/pull/39) in `glocaltokens`.

[2021-03-06 13:21] ArnyminerZ commented on #54
This weekend I won't be able to do much work, but if anyone picks it, I'll do it pleasantly next week 😄

[2021-03-06 19:56] DurgNomis-drol commented on #26
Please check my simple card out 😄 [Here](https://github.com/DurgNomis-drol/ha-google-home-timers-card) and leave some feedback over there

[2021-03-06 20:20] leikoilja commented on #54
No problem, @ArnyminerZ! Super happy you are contributing, so whenever you I have time and interest, feel free to grab any open issues 🤩💥

[2021-03-06 20:25] leikoilja commented on #54
@DurgNomis-drol, thanks for picking it up and starting working on it!

Thing is that you don't necessarily need to add an optional android_id argument to 'get_google_devices'. Please see the config flow file, what we already do there is that when you first add the integration the config flow saves 3 variables in its config: google login, google password and android id.
Since generating that id is

[2021-03-06 20:49] DurgNomis-drol commented on #54
I just tested if it actually does reuse android_id after a restart and it does. But can you please confirm by adding:
[code]
Because as far as i can see in our code it does reuse it.

It passes it here:
[code]

Also why do we generate a android id in ha-google-home, when we never use it?

[2021-03-07 07:16] leikoilja commented on #54
Oh, flip.... We are indeed already reusing the android id from the config:
In `__init__.py`:
[code]
dohhh, I'm so sorry, @DurgNomis-drol, completely missed it out, my fault. It was me who implemented it 6 weeks ago and i completely forgot about it. Sorry for wasting your time 😞 😄

[2021-03-07 07:16] #54 closed

[2021-03-07 07:29] DurgNomis-drol commented on #54
No problem 😄 I learn a lot from these things, so i didn't waste any time

[2021-03-07 07:32] leikoilja commented on #26
That's really nice! Couldn't really test it without "next timer" dedicated sensor just yet, but I'm excited. I can also see there are some other community driver projects that can help achieve good looking countdown cards ([example](https://community.home-assistant.io/t/create-a-countdown-timer/146660/6?u=ilja_leiko)). As a suggestion, you could add somee screenshots to your repo, so it can be vis

[2021-03-07 07:33] leikoilja commented on #54
That's an awesome attitude, @DurgNomis-drol! 🚀

[2021-03-07 07:52] DurgNomis-drol commented on #26
It works with the current timer sensor 😄

I will look into that link, and take some screenshots very soon

[2021-03-07 10:50] leikoilja commented on #59
@KapJI, would you be interested in implementing it #63?

[2021-03-07 12:57] KapJI commented on #59
@DurgNomis-drol already started it in #65 🙂

[2021-03-07 13:34] #60 closed

[2021-03-07 13:34] #61 closed

[2021-03-07 16:31] #63 closed

[2021-03-07 17:22] KapJI opened #66 "Use poetry for dependency management"
[Poetry](https://python-poetry.org/) is a modern way to manage python projects. Right now dependency management is a bit messy with 2 separate dependency lists in `requirements` and `.github/workflows/constraints.txt`. And you need to manually create virtualenv if you don't want to mess with system packages.
- Poetry can install all project dependencies in virtualenv with `poetry install` and it m

[2021-03-07 18:59] leikoilja commented on #66
No objections at all, not hand down 🤩💥
Never user poetry but I would love to hear and learn more about it! Thanks for taking an initiative with it 💥🤩

[2021-03-07 19:04] DurgNomis-drol commented on #66
Same opinion as @leikoilja :smile:

And it looks very simple and easy use

[2021-03-07 22:35] KapJI opened #69 "Rename component"
# Problem
`ha-google-home` is not [PEP8 compliant name](https://www.python.org/dev/peps/pep-0008/#package-and-module-names) for python module. It should use `_` for spaces.

This is only 1 of 2 custom components with `-` here: https://github.com/home-assistant/wheels-custom-integrations/tree/master/components

All components in home assistant follow this rule: https://github.com/home-assistant/cor

[2021-03-08 06:57] leikoilja commented on #69
uuuu, i see where we messed up with dashes in the name 😄  Had a discussion early on at #19.
I can see the benefit of what you are proposing, and would be up for a challenge. Especially this early on with nearly no people yet using it. I have added two bullet points to the "TODO" list and I believe if we pull the forces together and split the tasks we should be quite able to do it with the minimum

[2021-03-08 07:02] #66 closed

[2021-03-08 08:59] DurgNomis-drol commented on #69
I'm all for it! 😄

I will take [home-assistant/brands#2317](https://github.com/home-assistant/brands/pull/2317) and my own card.

[2021-03-08 09:10] leikoilja commented on #69
Sounds great! Let's reference this ticket everywhere where needed then.
I'll take the repo renaming; community forum reference update; and all references around the code (incl directory name and manifest).

@KapJI would you like to help opening PR at home-assistant/wheels-custom-integrations#313 (i guess after this repo is renamed) and updating documentation?

[2021-03-08 11:01] KapJI commented on #69
@leikoilja sure, I can do that!

[2021-03-08 13:05] KapJI opened #71 "Get rid of SUPPORTED_HARDWARE_LIST"
# Problem
Maintaining that list is burden you don't really want to have. New devices will be released and other manufacturers will release compatible devices.
# Proposal
If device is discovered from Foyer API, it's probably good. Then we can check if it returns alarms list correctly, otherwise mark sensor `unavailable`.

[2021-03-08 13:12] leikoilja commented on #71
Hmmmm, the reason I though of adding it is that i have a few chromecasts at home that fail return timers/alarms since they don't have them.
But now that we 'cache' google devices locally and only update that list once in a while (when we need to refresh tokens or on the restart), we could mark those devices as `unavailable` as you proposed and skip updating every `UPDATE_PERIOD`.

[2021-03-08 13:29] DurgNomis-drol commented on #71
We should not overflow the user with entities that are just listed as `unavailable` in HA. This will be confusing for the user.

[2021-03-08 16:12] #69 closed

[2021-03-08 16:49] leikoilja commented on #69
Thank you both, @KapJI, @DurgNomis-drol, it went surprisingly quick to rename the entire thing 🚀 💯

[2021-03-08 16:51] leikoilja commented on #71
I think it might be one of the last important things to solve before we can come up with a proper v1 release. What do you guys think?

[2021-03-08 17:20] DurgNomis-drol commented on #71
[Homegraph](https://developers.google.com/assistant/smarthome/concepts/devices-traits)

Maybe we can use this to only get the type of devices we need, without having a hardware list?

[2021-03-08 18:36] KapJI commented on #71
This seems like types for generic smart home devices. I didn't find anything related to alarms there.

I think we should use duck typing. If it returns alarms then it's supported.

[2021-03-08 19:27] DurgNomis-drol commented on #71
Just so i understand correctly, you propose to only setup the entities/device if timers/alarms exists? Not just make them `unavailable` in HA? 🤔

[2021-03-08 19:38] KapJI commented on #71
I guess it depends on the implementation, we can do it either way.

[2021-03-08 19:50] DurgNomis-drol commented on #71
If we can implement it in a way that only creates the device if it is a device that have alarms/timers, then i'm all for removing the list 😄

My reasoning is that, if a user have 5 Chromecast/Android TV's and 5 Google Home devices, we will create a lot of device if we add them all, but only uses half of them. It will confuse and lead to frustration for the end user not knowing why we have created

[2021-03-08 20:10] KapJI commented on #71
btw, android tv devices should support alarms

[2021-03-08 20:19] DurgNomis-drol commented on #71
Oh, i didn't know that 😄

I have an android TV and before we had the hardwarelist implemented, my tv always failed when trying to fetch from it. So we have to look in to that then

[2021-03-09 07:34] leikoilja commented on #71
Yeh, unfortunately, i don't think we can use those homegraph docs. Our two probably most possible options I see here are either have and maintain `SUPPORT_HARDWARE_LIST` or drop it and in the update cycle:
- fetch all google devices
- fetch alarms/timers for each of the devices; catch 404 for those which devices are not supported and mark them as `unavailable`;
- before setting `self.google_device

[2021-03-09 10:23] KapJI opened #78 "Add missing docstrings"
# Problem
Let's enforce better documentation and add missing docstrings.
# How to do this
Remove these lines from `pyproject.yaml` and make sure `poetry run pylint custom_components/google_home` finished with no warnings.
[code]
Can anyone take this?

[2021-03-10 17:57] DurgNomis-drol commented on #78
@KapJI I will take this (so i can learn how to use poetry). 😄 But i will probably first be able to look at it in the weekend, hope that is okay

[2021-03-10 18:07] KapJI commented on #78
Sure, thank you! Poetry is pretty simple, just run `poetry install` and it will configure everything for you.

[2021-03-11 00:04] KapJI commented on #58
I don't think we actually need this. 10 seconds is reasonable interval for everyone.

[2021-03-11 06:36] leikoilja commented on #58
Perhaps you are right :) We can revisit it if that will be needed, but as you say 10 sec is most likely gonna do great for most! :) Thanks!

[2021-03-11 06:36] #58 closed

[2021-03-11 14:34] KapJI opened #85 "Enable strict typing"
# Problem
Having types and type checks helps to:
- Check that all functions exist and called with correct arguments.
- Make the code more robust.
- Allow to refactor code simpler and safer.
# The plan
I'll enable `mypy` checks soon and will gradually enable stricter checks as more parts are covered with types.

Let me know what do you think!

[2021-03-11 15:15] leikoilja commented on #85
I think that would be a great additive! I have already set up my `vim` to support `mypy`, though haven't really adapted to using it just yet! 😄  But i think it would be great adding it

[2021-03-11 15:56] craigmcgowan opened #86 "Unknown error occurred"
Just installed this new component via HACS method and going through the configuration flow.

I did notice that Google local authentication token fetching shows up as the name, not Google Home as per your docs. But I know your only changing the name in the last day or so.

However, when I put my username and password in, I get an "unknown error occured".

This happens with my main password but also

[2021-03-11 16:21] leikoilja commented on #86
Hey, @craigmcgowan. From logs, it looks like you are using a very outdated version of the integration where we used to have `_get_android_id` method.
This is most likely because when installing using HACS you have selected `0.0.1` version in the last dialog box. Since we haven't YET released public stable version, please use `master` in that dropdown. For that, simply remove integration now, remov

[2021-03-11 16:34] #86 closed

[2021-03-11 16:37] #71 closed

[2021-03-11 16:39] craigmcgowan commented on #86
Great, all sorted now. Sorry for my stupidity!

[2021-03-11 16:43] leikoilja commented on #86
Oh no worries at all! 💥  Enjoy!
But keep an eye on the release - that will allow automatic HACS updates, when while using `master` i don't think HACS does compare them to spot new updates

[2021-03-11 20:05] KapJI commented on #85
First step: #88

[2021-03-11 21:57] #78 closed

[2021-03-12 12:07] KapJI commented on #85
Opened a PR in homeassistant core: https://github.com/home-assistant/core/pull/47796

[2021-03-12 14:29] leikoilja commented on #85
Did they close home-assistant/core#47796 because they don't support typing across the entire `core` repo? 🤔  😞

[2021-03-12 14:51] KapJI commented on #85
Yeah, basically they have many untyped components (the actual core is strictly typed) and they fear enabling this can break typing of custom components (only those which import *untyped* standard components, popular ones like `sensor` or `light` are typed) therefore it's better to not mark their package as typed.

I don't agree with this but I actually have a workaround. I can generate typing stub

[2021-03-12 15:07] leikoilja commented on #85
uuu, that would be interesting to see :)
So why is all that hassle? To be able to use typing hints, right? :D

[2021-03-12 15:10] KapJI commented on #85
Well, I think this should be useful. Not just for this project but other custom components as well.

[2021-03-12 15:17] leikoilja commented on #85
ou no no, i totally think it would be useful what you are proposing with making a stub as a separate package.

I just mean the entire `mypy` is used for typing help, right? (as u probs already understood, that's quite a new concept for me at this point)

[2021-03-12 15:19] KapJI commented on #85
Yes, `mypy` is used for type checking. Without it (or another type checker like `pyre`) type hints are useless 🙂

[2021-03-12 15:21] KapJI commented on #85
As I mentioned in the description, having type hints helps to make sure you're passing arguments with the correct types and this helps to avoid mistakes.

[2021-03-12 20:09] ManuelLR opened #90 "Problems during first login"
## Versions
- **ha-google-home**: Error occur with `v1.0.0` and [latest commit on master](https://github.com/leikoilja/ha-google-home/commit/b51afaff56722c5b276000067bc8ea6e7941d651)
- **homeassistant/core**: 2021.3.3

## Configuration
### Google Account
Since I have 2FA enabled, I have created an application password.

### Home Assistant
This component does not need configuration in yaml format b

[2021-03-12 22:46] philippefs35 opened #91 "Issue with token local_auth_token"
## Version of the custom_component

- ha-google-home v1.0.0
- core-2021.3.3
- supervisor-2021.03.4

## Configuration

Installed through HACS

Created app password since I use 2FA

## Describe the bug

No error during initial configuration (when I enter my Google account and app password), but I don't see any sensors. Seems like it's trying again and again to connect (without success). My Google ac

[2021-03-13 06:53] leikoilja commented on #90
Hey, @ManuelLR.
You have a pretty cool way of installing components I would say 😄
I have seen `BadAuthentiation` errors before on the systems where the python `requests` library is either of a too new version or too old ([ref](https://github.com/simon-weber/gpsoauth/issues/24#issuecomment-750922489)). I would assume it is something do to with dependencies and libraries on your Docker instance.

Wh

[2021-03-13 07:17] leikoilja commented on #91
Thanks for reporting it, @philippefs35.
Sorry it has logged out all of your google devices, but that's the security behind Google 😄
What i can see here are two problems:
1. In the underlying `glocaltokens` package this integration is using we do a validation of a `local authentication token`, however, if the validation fails (as it has happened in your case) we still initialize and return the obje

[2021-03-13 08:40] DurgNomis-drol commented on #90
Can you also provide the version info for: `gpsoauth`, `urllib3` and `chardet`. You can do this by running `pip show "package name"` in the docker container.

The error you're getting is caused by urllib3. See [here](https://github.com/urllib3/urllib3/issues/2101)

The problem you are referring to, was a known bug, but it should have been fixed in the version this integration uses.

[2021-03-13 09:16] ManuelLR commented on #90
I have been doing some research and I find it quite strange.

---
First, I created a Dockerfile to easily test the different configurations:
[code]
It's works without problems in the next scenarios:
[code]

But it's fails in the next scenario:
[code]
That error is caused because some dependencies were not build for python 3.9 and need to be compiled. Not really important at all.

---
After executi

[2021-03-13 10:15] leikoilja commented on #90
Have you done all of those tests you mentioned on the same machine as you are running your HA container? I am wondering if you use the same architecture in all those cases?

[2021-03-13 10:15] DurgNomis-drol commented on #90
Indeed it seems very strange.

@ManuelLR  What system are you running docker on? I run mine on rp4 on OMV5 and i have not encountered this, so I'm very curios to understand what triggers it

[2021-03-13 10:31] ManuelLR commented on #90
I have HA container running on a server (AMD processor x86-64) at my home using Debian 10.

The tests installing directly the library on the Dockerfile have been executed in github codespace (a x86-64 virtual machine in Azure) but the latest test was executed directly onto HA container already running in my server (not a different container, i connected to the running container from which HA is se

[2021-03-13 11:42] DurgNomis-drol commented on #90
Can you please try to downgrade `urllib3` to `1.25.11` and see if that helps.

[2021-03-13 12:59] ManuelLR commented on #90
Quick update, To test it, I deployed home-assistant on my local with the same container I use on the server but removing all unnecessary configuration from `configuration.yaml` to leave only ha-google-home and voila, it works.

[2021-03-15 10:49] leikoilja commented on #91
We have now merged the fix(see [here](https://github.com/leikoilja/glocaltokens/pull/45#event-4457809346)) for the bug you were having, so after a new release of `glocaltokens` comes out it will not recognize non google home devices that have a token of a different format than expected. :)  So I'll close the issue

[2021-03-15 10:49] #91 closed

[2021-03-15 16:18] deepcoder opened #93 "Is this message generated from your custom component? '[glocaltokens.client] [!] Could not get access token.'"
Your custom component had been running fine for a couple days. Then this morning, my home assistant log showed this error and then the error and warning shown below started filling the log every second until I shut down the server. Are these messages from your custom component?

[code]

[2021-03-15 19:15] ArnyminerZ commented on #93
Are you sure that you are using the last version? This was a bug found some versions ago

[2021-03-16 06:51] leikoilja commented on #93
@ArnyminerZ, is right. This should have been fixed. @deepcoder can you please try reinstalling the component. I suggest removing HACS repo entirely, making sure the `custom_component/google_home` directory is deleted and then adding a custom repo in HACS once again selecting the latest `1.0.0` release. :)
Please keep us posted

[2021-03-17 12:41] leikoilja commented on #90
@ManuelLR, were you able to find the root of the issue and fix it? :)

[2021-03-17 15:11] ManuelLR commented on #90
No, I am having a lot of work and have not been able to dedicate much time to it.
Just yesterday I did another test but nothing remarkable, I repeat my last test in the server and works so it seems that it is not a Debian or similar problem. When I have some time I will test with all the active integrations to see if it is something strange with some integration.

[2021-03-17 15:22] leikoilja commented on #90
Sounds good, @ManuelLR. I will close this issue for now, since it seems to be package irrelevant. However, feel free to reopen if you will have some new finding that are important for us to take a look on. Also, just ping us here if there are any help needed ;)

[2021-03-17 15:22] #90 closed

[2021-03-19 10:48] hugostegeman opened #95 "Can't login - 'Error': 'BadAuthentication'"
hi,

I cant login with my google account.
is the google username the same as your google account .......@gmail.com?

[2021-03-19 11:06] DurgNomis-drol commented on #95
Yes it is, Username/Email should be `janedoe@gmail.com` and password should be your google password. It is though highly recommend to use an `app password` instead.

 If you have Two Factor Authentication enabled. I think you can only use an `app password`. [Link to app password guide](https://support.google.com/accounts/answer/185833)

[2021-03-19 11:10] hugostegeman commented on #95
Ik still cant login
![Screenshot_2021-03-19-12-09-51-054_io.homeassistant.companion.android.jpg](https://user-images.githubusercontent.com/58877711/111771491-100d6d80-88ac-11eb-8c34-7f719a649956.jpg)

[2021-03-19 11:14] DurgNomis-drol commented on #95
Can you please check the logs in Home Assistant. You can find them under `Configuration` and then `logs`. Please choose `Load Full Home Assistant Logs`. And past them here using.

[2021-03-19 11:28] ArnyminerZ commented on #95
@hugostegeman if you are using a Gmail account, try logging it without adding `@gmail.com`, maybe that should do the trick.
Also, as @DurgNomis-drol pointed out, if you are using 2FA authentication, generate an app password.

[2021-03-19 12:42] hugostegeman commented on #95
I tried it with and without @gmail.com but i still cant login.
2FA authentication also does not work.
my log looks like this:

2021-03-19 13:40:28 WARNING (MainThread) [homeassistant.loader] You are using a custom integration hacs which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2021-03-19

[2021-03-19 12:56] DurgNomis-drol commented on #95
Which version of Home Assistant are you using?

Please try to remove it and reinstalled it again. It seems there is an issue with its name here:

[code]

Also please use code blocks when embedding logs. [Markdown Guide](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)

[2021-03-19 14:31] DurgNomis-drol commented on #95
@hugostegeman The integration is not name googlehome, but google_home. The underscore is important. Are you installing it through HACS? If so please uninstall it and then remove the repository in HACS and re-add it and try installing it again.

[2021-03-19 15:07] hugostegeman commented on #95
I installed it by using hacs and even after removing en reinstalling i cant login.
Can it have something to do with the country rules from google or something im from NL?
maybe manuel install of the intergration can help?

[2021-03-19 15:13] DurgNomis-drol commented on #95
I don't think it matters which country you are in as long as the Google sells it devices in that country it should be supported.

You can try, but i doubt it will change any thing as installing through HACS always gives you the latest version.

Can you please try adding this to your `configuration.yaml` file:

[code]
And the post back the logs.

This will enabled a lot more information in the logs

[2021-03-19 18:46] deepcoder commented on #93
I upgraded to the version that was current as of Mar 16, 2021 and it blew up again.

I'm not a HAC's guy, I installed via your 'Copy method' installation steps.

with the second error below, the HA log gets inundated errors, 3 to 4 per SECOND. Really need a way to tone that down!!!!

first with this error about 15 hours after starting HA, second about 60 hours after start.

[code]
...
...
...

[co

[2021-03-19 18:53] DurgNomis-drol commented on #93
The first problem I also ran into yesterday, wasn't sure why i did but now i can see that i am not the only one. But it should be split up into a separate issue. 😄

The second one is strange if you are using the latest version. Can you confirm the version of `glocaltokens` by running `pip show glocaltokens`? I have personally expired that HA doesn't always update underlay packages unfortunately. T

[2021-03-19 19:00] deepcoder commented on #93
from within docker container via portainer:

Home Assistant 2021.3.3 container from Home Assistant docker hub:
[code]

[2021-03-19 19:09] DurgNomis-drol commented on #93
That is the correct version. This seems very strange...

Some more questions:
- Are you running Home Assistant in network `Host` mode?
- Are you using an app password or your normal password?
- Are you using an `@gmail.com` or a custom domain?

Next step would be for you to test if `glocaltokens` package works for you so we can try to isolate the issue.

[2021-03-20 18:19] WRLPDZ commented on #95
Hi,
Same problem.
Already try with
as login: user_name, full email
as password: app token, master token, password to account

Logger set to:
logger:
  default: debug
  logs:
    # log level for mielelogic_laundry
     custom_components.google_home: debug

In logs only:

2021-03-20 19:09:44 ERROR (SyncWorker_16) [glocaltokens.client] [!] Could not get master token.
2021-03-20 19:09:44 ERROR (MainTh

[2021-03-20 18:51] DurgNomis-drol commented on #95
@WRLPDZ

When have you installed this integration?

Can you also add:

[code]

This will enable logs for the underlaying package `glocaltokens`.

[2021-03-21 09:12] DurgNomis-drol opened #97 "AttributeError: 'NoneType' object has no attribute 'get_sorted_alarms"
## Version of the custom_component

Latest

## Configuration

[code]

## Describe the bug

It does not appear immediately, but shows up after my HA installation have been running for some hours.

@leikoilja Have also had this error show up in his logs

## Debug log

[2021-03-21 13:34] WRLPDZ commented on #95
Still the same. Debug level changed.

2021-03-21 14:33:10 ERROR (SyncWorker_48) [glocaltokens.client] [!] Could not get master token.
2021-03-21 14:33:10 ERROR (MainThread) [custom_components.google_home]

[2021-03-21 13:46] DurgNomis-drol commented on #95
@ArnyminerZ @leikoilja Any ideas on what could cause this? Besides not using the latest version, where it should have been fixed?
I think we would need more information to know exactly why this is happening, if this problem have indeed risen again 🤔

[2021-03-21 14:42] WRLPDZ commented on #95
Core
Version
core-2021.3.4

Supervisor
Version
supervisor-2021.03.6

`logger:
  default: debug
  logs:
    custom_components.google_home: debug
    glocaltokens: debug`

Nothing more is showing in logs:
2021-03-21 15:22:35 ERROR (SyncWorker_40) [glocaltokens.client] [!] Could not get master token.
2021-03-21 15:22:35 ERROR (MainThread) [custom_components.google_home]

I'm trying to use this becaus

[2021-03-21 14:55] DurgNomis-drol commented on #95
@WRLPDZ Can you please remove `Drakulix/googlehome`'s integration and restart just to make sure that it is not effecting this integration. It is important that you remove both the files and how it was installed, if in `configuration.yaml` then remove it from here, or if via config flow, remove it from there before deleting the files. 😄

[2021-03-21 15:55] WRLPDZ commented on #95
All integrations corelated wit google home uninstalled.
Host restarted. Browser cache cleared.
ha-google-home installed again. Result the same.
For now I will pass.

[2021-03-21 20:14] ArnyminerZ commented on #95
I'm pretty sure there's an issue with @hugostegeman Home Assistant's database, and maybe that's the issue, but since @WRLPDZ has the same issue, maybe there's something more there...

Also, @WRLPDZ are you sure there aren't any more logs regarding the integration in your Home Assistant's register?

@DurgNomis-drol @leikoilja maybe we should add more debugging to `glocaltokens` just in case somethi

[2021-03-22 06:32] leikoilja opened #98 "HACS Documentation"
Super happy to announce that the integration has aired in the default HACS [repo](https://github.com/hacs/default/pull/859#event-4486751242), so one should not need to add custom repo anymore 💥

We would need to update the `README` documentation about installation and try it ourselves :)

[2021-03-22 06:35] leikoilja opened #99 "GitHub issue/pr templates"
As we start encountering issues with `glocaltokens` package and different release versions of `google-home` we need to update the github issue template to include instructions on how one finds and specifies what version of both packages is used when opening the issue. That will greatly help us to debug and help one another

- [ ] Edit issue template to hold a comment how to find the versions of pa

[2021-03-22 06:39] leikoilja commented on #95
Great call, @ArnyminerZ, thank you! 💥

[2021-03-22 07:00] bacco007 commented on #93
I'm using HA OS, and its not installing the python library `glocaltokens` - which appears to be failing on the install of `grpcio`

[2021-03-22 07:02] DurgNomis-drol commented on #93
@bacco007 Please open another issue as this is not related to this issue 😊

[2021-03-22 10:02] LEJOUI opened #100 "Error requesting sensor data"
## Version of the custom_component

1.0
## Configuration

[code]

## Describe the bug

I've installed the custom component and I was able to add it in the integration page. However, I'm not getting the sensors in my HA. I might be missing something, but I don't know what.
## Debug log

[code]

[2021-03-22 10:03] DurgNomis-drol commented on #100
What type of Google Assistant Enabled devices do you have?

[2021-03-22 10:07] cs42 commented on #95
I have the same issue. Just installed this via HACS, but can't log in. In log I only see:

`2021-03-22 10:48:13 ERROR (SyncWorker_1) [glocaltokens.client] [!] Could not get master token.
2021-03-22 10:48:13 ERROR (MainThread) [custom_components.google_home]`

[2021-03-22 10:08] LEJOUI commented on #100
2x GH mini and 1x GH Home

[2021-03-22 10:18] DurgNomis-drol commented on #100
Are you using VLANs?

We are in the middle of adding a better way to debug this application. When that is done. We will have a better way to help you. Please standby, it should be done hopefully later today 😊

[2021-03-22 10:21] ArnyminerZ commented on #95
Hi, @cs42, thank you for the information. We are currently working on this issue, you can follow the progress at [glocaltokens#48](https://github.com/leikoilja/glocaltokens/pull/48).

Also, please, use code blocks for logs, not blockquotes. 😇

[2021-03-22 10:21] LEJOUI commented on #100
Yeah, I'm using VLANS but the devices are on the same as HA. I now see that the error is for the Shield TV. Nevertheless I'd expect to see some sensors. No hurry's!

[2021-03-22 10:23] ArnyminerZ opened #101 "I'm using HA OS, and its not installing the python library `glocaltokens` - which appears to be failing on the install of `grpcio`"
I'm using HA OS, and its not installing the python library `glocaltokens` - which appears to be failing on the install of `grpcio`

[code]

_Originally posted by @bacco007 in https://github.com/leikoilja/ha-google-home/issues/93#issuecomment-803814517_

[2021-03-22 10:26] DurgNomis-drol commented on #100
Thanks for the feedback. I don't know if the Shield supports alarms and timers. So that's probably why it cannot connect. 😊

[2021-03-22 10:29] ArnyminerZ commented on #101
@bacco007 please, check that you are using the latest version of the integration. Also, check the version you have installed of the `glocaltokens` python package.
You can do this through a SSH terminal ([guide here](https://siytek.com/home-assistant-shell/)), then, please type `pip3 show glocaltokens` in the terminal, and post the result here.

[2021-03-22 10:55] LEJOUI commented on #100
I also think that the Shield doesn't support timers, never thought of it.
But would this effect not creating the right sensors? I do see that component gets his data from the rest of GH's.

`2021-03-22 11:55:20 DEBUG (MainThread) [custom_components.google_home] Finished fetching sensor data in 33.193 seconds`

[2021-03-22 12:19] DurgNomis-drol commented on #100
Just so i 100% sure i understand. There are no sensors for the rest of you Google devices, even though they are supported?

As there is many different devices out there, we don't use a whitelist approach. If it generates a token in the right format it is expected to support it (This obliviously does not).

[2021-03-22 12:21] DurgNomis-drol commented on #101
@bacco007 What version of HAOS are you running and on what Architecture? (ARM, x86/x64)?

[2021-03-22 12:50] LEJOUI commented on #100
Yes, there're no sensors indeed. Also I don't find a sensor with "token" in the name when I search for it.
Under integrations I don't see any entities or devices which I'd expect.

[2021-03-22 13:01] DurgNomis-drol commented on #100
The readme have not been update i can see, its name should be `sensor."device"_device` instead. Can you please set `google_home` logger level to `debug` and past all the logs points relating to google_home here. This will make it easier to know why this is happening 😄

[2021-03-22 14:06] Duncank opened #102 "No sensors created - SSL handshake failure"
This might be similar to #100, but since the error message differs I've created a new issue for this.

## Version of the custom_component
1.0.0

## Configuration
via `integrations` panel in UI.

## Describe the bug
No sensors are created after setting up the integration and rebooting a few times.

## Debug log
[code]

The issue stays after reboot, sensors are not created. I've installed the latest

[2021-03-22 14:17] DurgNomis-drol commented on #102
Can you press the button `Full Home Assistant logs` and see if there is a `traceback` that could gives us some more info? The message is not generated directly from our `integration` but by some of the `libs` we use. (In this case probably `aiohttp`).

[2021-03-22 14:37] Duncank commented on #102
I'm not seeing lines in the log that give me more information. Most of the lines are for my zigbee integration, and within 60 seconds before and after the error I mentioned above, there is nothing that is not related to zigbee.

This is the full line for one instance of the errors.
`2021-03-22 15:24:00 ERROR (MainThread) [custom_components.google_home] Error requesting sensor data: Cannot connect

[2021-03-22 14:49] DurgNomis-drol commented on #102
You wont find `aiohttp` in the logs as it is an internal component.

Can you please add this to your `configuration.yaml`:

[code]

This will enable us to get a better picture of why the integration fails. 😄

Thanks for your feedback.

[2021-03-22 15:02] Duncank commented on #102
Here we go! I see 5 devices for which the integration is trying to fetch data, but these are not all Google Home devices, so probably that is the problem here, just like in #100.
`Zolder Mini`, `Keuken Speaker` and `Badkamer` are Google Home / Nest Home / Nest Audio devices.
`Tv` is a Chromecast
`Soundbar` is a Sony soundbar with Chromecast built in.
[code]

[2021-03-22 15:06] DurgNomis-drol commented on #102
Do you know what devices is the one with IP that is failing?  and can you turn it off and try again. The issue you referenced, he had a Nvidia Shield and this could possible be same kind of problem but with a different manufacturer. 😄

[2021-03-22 15:18] Duncank commented on #102
The failing IP address is from the Soundbar; I've unplugged it and got 404 errors in the log for that device, and it did still not succeed in adding the sensors.
I've rebooted and now it does work;
- sensors are created for my three Google Home devices.
- my chromecast device (`tv`) shows as a device with only a 'token' sensor.

The log shows this on initialization. It is correct that it cannot re

[2021-03-22 15:19] LEJOUI commented on #100
[code]

[2021-03-22 15:29] DurgNomis-drol commented on #100
Can you please try to turn of the Shield and try adding it again to see if that solves the problem? So is obviously not the best solution, but it should solve it for now. 😄

[2021-03-22 15:34] leikoilja commented on #101
I am pretty sure this error might occur on the elder versions of HomeAssistant OS.

[2021-03-22 15:34] DurgNomis-drol commented on #102
Good thanks, I think i know why this problem exists now and will implement a fix soon :smile:

[2021-03-22 15:42] leikoilja commented on #100
Hmmmm... well basically what i think happens here is that sensor initialization fails on your Shield TV device. The log error line: `Error requesting sensor data:...` is HomeAssistant fallback handler meaning that it bypasses the logic of this integration. That also means that integration discovers all devices successfully but when fetching data from them fails to fetch data for Shield TV. That in

[2021-03-22 15:45] leikoilja commented on #102
Thanks for opening the issue @Duncank. As @DurgNomis-drol has already helped to understand you do seem to have the exact same bug issue as #100. There I [posted](https://github.com/leikoilja/ha-google-home/issues/100#issuecomment-804164222) some more explanation of what i believe the bug is. @DurgNomis-drol, is that what you believe the problem is? :)

[2021-03-22 15:55] Duncank commented on #100
That sounds right to me; is there any benefit in adding sensors for devices like Chromecasts and soundbars (in my case), since they don't support timers and alarms, I personally see no use for the token-sensor for those devices in my environment at all, but I might be missing something.

[2021-03-22 16:03] DurgNomis-drol commented on #102
Take a look at my PR. It is because we dont catch the exception that `aiohttp` throws.

[2021-03-22 16:04] DurgNomis-drol commented on #100
See my PR and #102

[2021-03-22 16:11] DurgNomis-drol commented on #100
@LEJOUI  Will you bewilling to try to install this dev branch? [here](https://github.com/DurgNomis-drol/ha-google-home/tree/add-better-exception-handling-for-aiohttp). It should fix your issue, we just need to confirm that it is working. 😄

[2021-03-22 17:16] LEJOUI commented on #100
So I powered off the Shield and by a restart it added the sensors.
Restart HA with the shield made the sensors unavailable as expected.
Copied the dev branche into the custom component and they went availble again.
Fun fact the shield is now also apperearing :)

[2021-03-22 17:24] DurgNomis-drol commented on #100
NICE! Glad to here that it works again.

Thanks for testing it 😄

[2021-03-22 17:49] #100 closed

[2021-03-22 17:49] #102 closed

[2021-03-22 17:50] DurgNomis-drol commented on #102
Please remove and reinstall from `master``. 😄

Please give feedback if it solves the issue.

[2021-03-22 17:50] DurgNomis-drol commented on #100
Please remove and reinstall from `master``. 😄

[2021-03-22 19:03] Duncank commented on #102
I too can confirm that reinstalling the master version from this repository does fix the problem; after adding the integration it shows all the discovered Google Homes and Chromecasts. Great!

[2021-03-22 19:18] KapJI commented on #101
The pinned version of `grpcio` is being built from sources and it probably needs `build-essential` package installed.

[2021-03-22 20:08] DurgNomis-drol commented on #101
`grpcio` needs both `g++` and `build-essential` to be able to build. On older versions then 2021.3 `g++` is missing. I don't know when `build-essential` were add to the HA.

Anyways this is known issue that have been fixed sometime ago. He should not have this problem if he is running the newest version anyway. 😄

[2021-03-22 20:17] leikoilja commented on #102
Awesome! 💥
Thank you, @DurgNomis-drol for fixing it 🥳

We'll do a new release in a next day or so, please make sure to update to the latest version when HACS shows you the available option to update 💥😉

[2021-03-23 06:46] bacco007 commented on #101
Yes - v1.0.0

[code]

HA OS 5.12 (OVA) via Proxmox VM

[2021-03-23 07:21] leikoilja commented on #101
@bacco007, I believe the problem is most likely in the fact that you are using `Proxmox VM` that is lacking system packages/compilers to deal with grpcio.

Can you please try installing `build-essential` on your system first and then trying to reinstall the integration?
Keep us updated please

[2021-03-23 07:50] bacco007 commented on #101
Proxmox simply allows me to run it via a VM self-contained - HA OS doesn't (to my knowledge) have the ability to install additional packages/compilers.

[2021-03-23 07:59] leikoilja commented on #101
Please see [here](https://developers.home-assistant.io/docs/operating-system/debugging/) how to get ssh access to the host in RPi example. Once you are on the host system which is probs Alpine try installing `apk add gcc g++ linux-headers`. I have done that with RPi and it fixed it, but not sure how your setup with Proxmox works :/

[2021-03-23 12:46] gary-reyes opened #105 "Next alarm/timer should be device_class timestamp"
I would like to use some blueprints that use timestamps but was surprised to find that I could not use the next alarm or or timers  sensor because they are not device_class timestamp. Since these sensor provide a timestamp, they should have this device class

[2021-03-23 12:52] gary-reyes opened #106 "Alarm/timer sensors should be binary_sensor"
The alarm/timer sensor provide a binary value (are there any active alarms/timer). It is odd that this information is not provided through a binary_sensor instead

[2021-03-23 13:37] leikoilja commented on #105
Hmm... clearly we have missed something. @gary-reyes, can you please elaborate a bit more what do you mean by device class. Perhaps some HA documentation or examples you could find? :)

[2021-03-23 13:40] leikoilja commented on #106
Is [this](https://developers.home-assistant.io/docs/core/entity/binary-sensor/) what you refer to, @gary-reyes? If so, help me see why would that be better to have them as binary? :)

[2021-03-23 13:56] gary-reyes commented on #105
https://www.home-assistant.io/integrations/sensor/
https://developers.home-assistant.io/docs/core/entity/sensor/

I wanted to use this blueprint:
https://community.home-assistant.io/t/wake-up-light-alarm-with-sunrise-effect/255193

It filters out sensors that are device_class timestamp.

[2021-03-23 14:03] gary-reyes commented on #106
Yes.
The alarm/timer sensors are providing an off/on value indicating that an alarm is available. This is exactly what binary sensors are intended for.   The link you provided even provides this information.
is_on | boolean | Required | If the binary sensor is currently on or off.
-- | -- | -- | --

A sensor can provide a text state or a numerical state as seen in https://developers.home-assistant

[2021-03-23 16:51] DurgNomis-drol commented on #105
@leikoilja We should change it so it matches the same class as the mobile app. It is device_class `timestamp`. It was the intention that it should just mimic it 😄 I just never actually checked it, that is my fault.

[2021-03-23 17:04] DurgNomis-drol commented on #106
This is because in the development we changed somethings around and ended up with that it just shows state `on` or `off`. Before that it showed the next alarm. I think there are exceptions to the rule of using `binary_sensor` and this does live in that gray area. But it is something to have in mind. The state should probably be `set` `none set` instead if we change anything.

[2021-03-23 18:07] leikoilja commented on #106
Thanks for laying it out, @gary-reyes.
I can see how it could be a binary sensor, however, it doesn't seem to make sense to have it as a binary sensor when there is a massive pile of information in the sensor's attributes. Perhaps we should make the state of the sensor "set"/"not set" as @DurgNomis-drol is proposing or even just an integer number how many alarms/timers there is in the device?

@Ka

[2021-03-23 18:10] #99 closed

[2021-03-23 18:27] #105 closed

[2021-03-23 18:30] gary-reyes commented on #106
Either would work as solutions.

[2021-03-23 18:32] leikoilja commented on #106
@DurgNomis-drol would you have time and interest to take a look at fixing this one as well? :)
I m afraid i won't have time to look at this until tomorrow night, maybe Thursday :)

[2021-03-23 18:42] DurgNomis-drol commented on #101
I will setup a test machine and see if i can sort this out. 😄

[2021-03-23 18:44] DurgNomis-drol commented on #106
Yes no problem, waiting for @KapJI opinion and then i will look into to it 😄

[2021-03-23 18:46] KapJI commented on #106
After looking at documentation about `sensor` and `binary_sensor` it seems to me that the best way is to keep it `sensor` with device class `timestamp` and set the value to the next alarm/timer (in ISO8601 format) or `off`.

[2021-03-23 18:50] DurgNomis-drol commented on #106
@KapJI But this defeats the purpose of the `next_alarm` and `next_timer` sensor we have?

[2021-03-23 18:53] KapJI commented on #106
So probably we can merge them? 🙂

[2021-03-23 19:00] DurgNomis-drol commented on #106
I think it is better to have them separated as we have now and then change the state for `on` or `off` to `set` or `none set`. Especially if we introduce other things as attributes to either sensor.

Either way I need to sleep on it 😄

But if the majority whats them merged i am okay with that 😄

[2021-03-23 19:07] KapJI commented on #106
How is this implemented for android alarms?

[2021-03-23 19:09] DurgNomis-drol commented on #106
[Here](https://companion.home-assistant.io/docs/core/sensors/#next-alarm-sensor) is a link to `mobile_app` implementation:

[2021-03-23 19:35] DurgNomis-drol commented on #101
@bacco007

I just did a fresh install of HAOS in VirtualBox as describe in HA's installation guide. I add HACS. Had some unrelated issues, fixed them. Added this integration through the normal repository and logged in and it work for me. I don't have a machine to install `proxmox` on and test it. But it should not differ from my test as a VM should be a VM as long as it is running on the same arch

[2021-03-23 19:36] DurgNomis-drol commented on #98
I just tested it and it works. 🚀 🎉

Will change the snippet in the readme to just search for it in HACS instead of adding it as a custom repository. 😄

[2021-03-23 20:08] #98 closed

[2021-03-23 20:11] DurgNomis-drol commented on #97
Why does this error only happen for alarms and not timers? I haven been looking through the code and can't find any differences between `get_sorted_alarms` and `get_sorted_timers`.

@KapJI Any idea?

[2021-03-23 20:14] leikoilja commented on #106
If we talk about personal preferences I would suggest we keep the next alarm/timer as is to mimic the mobile phone sensor, but replace the state of `alarms`/`timers` sensor to just say the number of alarms/timers set.
I have implemented something similar in Habitica integration (that is core HA) and it got merged with the state just being a number of elements in the sensor. :)

[2021-03-23 20:23] leikoilja commented on #97
Hmmm, just looked at its implementation and it's quite pythonic that we use `next` there. Don't really know in-depth how it's works, but if it's a shared `get_device` method that uses `next` to return next element from the iterator, would it actually reach end of iterator and return `None` at some point? Should it not just create a new iterator every time we call `get_device`? If it's **not** crea

[2021-03-24 04:00] dennyreiter commented on #106
This seems to make the most sense, having the state be the number of timers.

[2021-03-24 06:11] leikoilja commented on #106
Okay, let's make it that way then 💥  @DurgNomis-drol still up for a fun challenge? :) Leme know if you are not available, i ll find some time for that

[2021-03-24 08:08] DurgNomis-drol commented on #106
I will look into it today. 😄 Should be a trivial change to make.

[2021-03-24 08:31] bacco007 commented on #101
Took me an hour - but i've been able to install the dependencies!

Now get a new error - havent had a chance to chase it out, run out of time today

[code]

[2021-03-24 09:22] KapJI commented on #106
It's still not clear to me what's the advantage of having 2 sensors for alarms. IMO the simpler the better. Basically it can follow next alarm from `mobile_app` with information about other alarms in attributes. This way you should have twice less sensors 🙂
And if someone needs number of alarms it can be get with `length` jinja2 template filter.

[2021-03-24 09:32] leikoilja commented on #101
okay okay, we are getting closer, @bacco007. Regarding the error you see now - we need to look deeper into that, you seem not be the only one with it:
https://github.com/leikoilja/ha-google-home/issues/95
the gears are in move, so just bare with us

[2021-03-24 09:35] KapJI commented on #101
@bacco007 what issues did you have? Maybe we can document them and this will be useful for others?

[2021-03-24 09:44] DurgNomis-drol commented on #106
After thinking more about it. This could also be said about the device sensor we create. As there is no real use for it. That should also be removed then.

I think that having two separate sensors will make it more clear to the user what there purpose is.

I would normally agree with you about simplicity, but i am leaning more and more towards not changing anything. I don't think it is worth makin

[2021-03-24 10:52] KapJI commented on #106
Device sensor with auth token is useful if someone wants to use different api of google home. We should keep it.

I agree about the breaking change. Although changing the state format is also a breaking change, but not as significant probably.

My point is these sensors ultimately represent the same data and having them merged doesn't make UX any worse because the next alarm is still in the state

[2021-03-24 11:08] DurgNomis-drol commented on #106
I don't personally use the auth token sensor. But it is a advanced feature. There are not that many useful API endpoints anyway and most of them are about setting it up. But i don't care if we have it or not. 😄

You have some valid points about it being better to do it now and that they present the same data, but they do it in a different way.

I am gonna go with decision that the majority wants 😄

[2021-03-24 11:16] KapJI commented on #106
I'm ok with implementing it 🙂

[2021-03-24 11:46] DurgNomis-drol commented on #101
@bacco007 [Here](https://github.com/bacco007/HomeAssistantConfig#stats) you list that you are using HA core 2021.1.5. Is this the version which are using now and are trying to install on?

[2021-03-24 12:26] KapJI commented on #97
I guess we need some extra logging here. Maybe for some reason `coordinator_data` doesn't contain entry for this `device_name`.

@DurgNomis-drol are you able to reproduce this? Can you check if `next()` is doing something weird or `coordinator_data` doesn't contain `device_name`?

[2021-03-24 13:16] DurgNomis-drol commented on #97
This error only occurs after some time for me. I not 100% where i should log, so it is gonna be some trial and error for me 😄 Will report back when i have more information

[2021-03-24 19:21] ronschaeffer commented on #59
Firstly, thanks for this integration! I've missed having the timer info since the previous method stopped working.

Is someone working on a delete time/delete alarm service? I'd love to test it if so,

[2021-03-24 19:26] DurgNomis-drol commented on #59
I have some code, but i have been busy squashing bugs, and some other projects. :smile: Hopefully i will find time to make a PR for it soon.

[2021-03-24 19:37] leikoilja commented on #106
@KapJI mind taking the lead on that? 💯  😄

[2021-03-24 19:44] KapJI commented on #106
Yep, sure! Will do in the next couple of days.

[2021-03-24 23:00] bigporker1704 opened #109 "Uninstall"
On Uninstall, Home Assistant complains that cannot find component in setup.py even though integration was removed and also removed from HACS.
Work-around is to uninstall integration and leave it installed in HACS

[2021-03-25 01:06] dennyreiter commented on #102
I'm not sure if this should be a separate issue or not, so I'll put it here to start.  I have a Vizio television with Smartcast which this integration is picking up as a google device. It logs the error:
[code]
I did not have any sensors listed until I unplugged the television, which seemed to make it continue to the other devices, but now that it is plugged back in, it continues to log the error.

[2021-03-25 05:18] leikoilja commented on #109
@bigporker1704 can you please post some logging, error trace back?

How do you install it on Ubuntu even? 🤔😅 or you mean you have HA running in a container in Ubuntu?

[2021-03-25 05:54] DurgNomis-drol commented on #102
@dennyreiter Did you install the latest master when you installed it through HACS? If not, please try that first as this bug is known and should have been fixed a couple of days ago. But a new release have noget been made yet as we are waiting for some other things 🙂

You can always get the latest version from master

[2021-03-25 06:51] bacco007 commented on #101
I had what I'm guessing was an issue with my internet, it didnt download the dependencies properly then failed to install properly the first time around.  It also had to build a couple of them which took a little bit of time.

I'm now on 2021.3.4 - my readme file hasnt updated for a while by the look of it, need to fix that!

[2021-03-25 07:32] Duncank commented on #102
@DurgNomis-drol Can you elaborate on how to install the latest master through HACS? I don't see any options of selecting a version to install, and can't add it as a custom repo since it is in the HACS store already. While awaiting the next release, I've removed the integration in HACS and downloaded the files from here, but the HACS way is easier usually.

[2021-03-25 07:34] leikoilja commented on #102
@Duncank, @dennyreiter just give us another day or so, will release a new version of the integration later tonight or latest tomorrow that will include these fixes, so you will be able to simply update from HACS store :)
I ll ping you guys here once it's done

[2021-03-25 07:36] Duncank commented on #102
@leikoilja Thanks ;) Take your time! I'm really happy with the state of the integration already, so no rush from my side :D

[2021-03-25 07:38] DurgNomis-drol commented on #102
On the integration page for Google Home in HACS there should be a drop-down. It is preselected to v1.0.0 i think, but at the bottom of it, you should be able to choose master 🙂 Normally i won't recommend that, but as we are having a lot of issues currently, this is the best way to make sure you are using the latest version.

Can you check in your Homeassistant log file for everything related to `g

[2021-03-25 07:48] Duncank commented on #102
@DurgNomis-drol thanks for explaining, didn't know that that existed! For anyone finding this; once an integration is installed in HACS, you can press the menu button in the bottom right of the integration card and select 'reinstall'. In the window that appears you can choose a specific version, including 'master'.

[2021-03-25 10:05] leikoilja commented on #101
@bacco007, since now you are facing `login` issue that is the same as #95, I ll close this issue. :) Hope all the rest of your issues are fixed now :)
Feel free to open new issues per each problem you encounter so that we can help it :)

[2021-03-25 10:05] #101 closed

[2021-03-25 10:07] leikoilja commented on #95
@cs42, @bacco007, there is now a new release of the integration.
Please upgrade to `1.0.1` using HACS.
Also make sure you have the logger enabled in your `configuration.yaml`:
[code]
That will now print much more elaborate logs. Please post them here (**IMPORTANT** make sure not to paste your sensitive info here as `master_token` or `login`). These elaborate logs (paste as code block) will help us

[2021-03-25 10:08] leikoilja commented on #93
@deepcoder, there is now a new release of the integration.
Please upgrade to `1.0.1` using HACS.
Also make sure you have the logger enabled in your `configuration.yaml`:
[code]
That will now print much more elaborate logs. Please post them here (**IMPORTANT** make sure not to paste your sensitive info here as `master_token` or `login`). These elaborate logs (paste as code block) will help us get a

[2021-03-25 10:10] leikoilja commented on #102
@Duncank, @dennyreiter, there is now a new release of the integration.
Please upgrade to `1.0.1` using HACS.

[2021-03-25 10:17] cs42 commented on #95
Here are the logs:

[code]

I have a 2FA setup and created a new app password for this test.

[2021-03-25 10:28] Edo78 commented on #95
I was watching this because I was experiencing the very same issue. I have a 2FA and I can't login with my username and the generated app password.

I just updated to 1.0.1, add the logger to the config and now I can login and I can't understand why.

If I can provide any more info or if you need any tests at all feel free to ask and I'll be glad to help

[2021-03-25 13:20] bigporker1704 commented on #109
Sorry for any confusion.
I'm new to this and may have inadvertently forgot to set something properly.
Running on VMware workstation VM

I'll see what I can find in logs.

On Thu, Mar 25, 2021 at 1:18 AM Ilja Leiko ***@***.***> wrote:

--

Thanks in advance,

Yours sincerely,

*Paul Caiado*

President

*JADnet Inc.*

Cell: (613) 762-5996

E: ***@***.***

E Cell: ***@***.***

Website: www.jadnet.ca

[2021-03-25 15:20] leikoilja commented on #97
@DurgNomis-drol, let's keep an eye if we'll still have that bug. @KapJI did some [awesome work](https://github.com/leikoilja/ha-google-home/pull/111) rewriting how we get the device in the entity and I believe it might solve the issue if it was caused by `next` and iterator. When #111 is merged, let's install `master` version and keep an eye for a few ways :)

[2021-03-25 15:53] brianhanifin commented on #95
Here's my 1.01 log to add to the fire. ;)  I am trying to login using an app password

[code]
For good measure I also deleted yesterday's app password, and generated a new one.
[code]

[2021-03-25 16:01] brianhanifin commented on #95
Related logging tips:
* To get colored coded output like mine, start your log output block with ` ```python` (instead of just ` ``` `).
* Install [LogExpert](https://github.com/zarunbal/LogExpert/), open **homeassistant.log** in your **config** folder, then use `glocaltokens|google_home` as your **Text filter** to include logs from both **glocaltokens** and **google_home**.

[2021-03-25 18:46] #97 closed

[2021-03-25 18:46] #106 closed

[2021-03-25 18:50] leikoilja commented on #106
Perfect, thanks, @KapJI

[2021-03-25 20:31] tomsruk opened #114 "Invalid timestamp"
## Describe the bug

I was getting "Unavailable" on v.1 on alarms and timers but now get "Invalid Timestamp" on v1.1.0

## Version of the integration

[code]

## Glocaltokens Version (Underlying package)

[code]

## Logs

[code]

## Debug log

[code]

[code]

[2021-03-25 20:36] tomsruk commented on #114
Sorry I've not used GitHub before so excuse the ridiculousness

[2021-03-25 21:11] notherealmarco commented on #95
I'm having the same issue

[2021-03-25 21:16] dennyreiter commented on #102
Thanks

[2021-03-26 00:03] bigporker1704 commented on #109
You are doing an awesome job on the integration... like it so far... just
not using it fully... only Need Google Casting right now, but I would
to see your integration be able to allow us to send specific Google devices
a "Hey Google" or "OK Google" command.
That's the one piece I would love to see.

I have like 9 google devices around the house and I would love to send
commands to specific device

[2021-03-26 00:21] bigporker1704 commented on #109
I'm under the impression that your integration can only read the values and
not set them for timers  and alarms...
Maybe I'm mistaken?

On Thu, Mar 25, 2021 at 8:03 PM Paul Caiado ***@***.***> wrote:

--

Thanks in advance,

Yours sincerely,

*Paul Caiado*

President

*JADnet Inc.*

Cell: (613) 762-5996

E: ***@***.***

E Cell: ***@***.***

Website: www.jadnet.ca

***@***.***>

This message is int

[2021-03-26 06:19] leikoilja commented on #114
Hey, @tomsruk. Thanks for reporting the issue. 🙌
I believe this might be caused due to the latest release of integration that deprecates previously set up sensors like `next_timer` and `next_alarm` in favor of simplified and better use of merged sensors. Sorry for the inconvenience, please see [release notes](https://github.com/leikoilja/ha-google-home/releases/tag/v1.1.0) for breaking change. If

[2021-03-26 06:22] leikoilja commented on #109
@bigporker1704, you are under the right impression. Unfortunately, google does not expose any known API endpoints (interface) that would allow us to set alarms/timers/reminders. It is currently a limitation put in place by Google 😢  We can only do "as much as mobile app Google Home" which is too read the existing alarms/timers

[2021-03-26 06:48] bacco007 commented on #93
I've confirmed that my username and app password are correct (i've also tried another google account i've got that doesnt have 2FA enabled, same error)

[code]

[2021-03-26 06:53] leikoilja commented on #93
@bacco007 & guys, i actually think it has nothing to do with google accounts themself but with the dependency libraries used. We have seen `BadAuthentication` before on some versions of `requests` library that are used under the hood. It might be that some other integrations or packages that you use in parallel with `Google Home` are enforcing different (lower) version of the `requests` library.
@

[2021-03-26 07:07] leikoilja commented on #95
Hey guys, can we try something out?
I actually think it has nothing to do with google accounts themself but with the dependency libraries used. We have seen `BadAuthentication` [before](https://github.com/rithvikvibhu/GHLocalApi/issues/54) on some versions of `requests` library that are used under the hood. It might be that some other integrations or packages that you use in parallel with `Google

[2021-03-26 07:09] leikoilja commented on #93
The underlying issue now looks very much like existing ticket #95.
I am going to close this one and move the conversation there.
@deepcoder if you still encounter ANY kind of different issue then `BadAuthentication` after updating to the latest available release please open a new issue specifically about the problem you would encounter :)

[2021-03-26 07:09] #93 closed

[2021-03-26 07:15] DurgNomis-drol commented on #93
You can check which version you have installed by running `pIp show package_name` in the command line in the docker container of HA.

The important packages is `requests`,`urllib3`,`chardet` and `gpsoauth`. The problem is caused by a bug on the Google servers in how urllib3 have implemented SNI support. It should have been solved, but as @leikoilja states, if some other things are forcing a wrong

[2021-03-26 07:16] DurgNomis-drol commented on #95
You can check which version you have installed by running `pIp show package_name` in the command line in the docker container of HA.

The important packages is `requests`,`urllib3`,`chardet` and `gpsoauth`. The problem is caused by a bug on the Google servers in how urllib3 have implemented SNI support. It should have been solved, but as @leikoilja states, if some other things are forcing a wrong

[2021-03-26 07:26] leikoilja commented on #95
Can someone please who encounters `BadAuthentication` post here the output of (please see @DurgNomis-drol message on how to get to the docker container where to run this command):
[code]
(that's example of mine)

[2021-03-26 07:28] cs42 commented on #95
here's my output

[code]

[2021-03-26 07:31] DurgNomis-drol commented on #95
@cs42

Can you please try upgrading urllib3 to the same versions as @leikoilja. By running `pip install urllib3==1.26.3` and try to login again. Remember to restart. 😁

[2021-03-26 07:37] cs42 commented on #95
I just did :-D, but it didn't help :-(

Same problem as before

[code]

Packages are now (oh, I just see it's urllib 1.26.4 - latest one):

[code]

[2021-03-26 07:40] cs42 commented on #95
Nope, doesn't work with `urllib3==1.26.3` as well.

[2021-03-26 10:12] bigporker1704 commented on #109
Thanks.
Still. It is really cool what you've done so far.
Thanks for the integration.
Paul

On Fri., Mar. 26, 2021, 2:22 a.m. Ilja Leiko, ***@***.***>
wrote:

[2021-03-26 11:00] leikoilja commented on #109
Thank you @bigporker1704. I will close this issue but if you encounter any problems please open a new issue following the templates pre-filling all the necessary fields and providing more information :)

[2021-03-26 11:00] #109 closed

[2021-03-26 16:01] nckslater commented on #95
I'm getting the same issue.

In the logs:

`Logger: custom_components.google_home
Source: custom_components/google_home/config_flow.py:97
Integration: Google Home (documentation, issues)
First occurred: 16:57:03 (4 occurrences)
Last logged: 16:59:42`

[2021-03-26 17:10] stboch commented on #95
When I run a script on Home-Assistant's python to get the master token, it works. Not sure what is happening to cause it to generate the issue with urllib3 all the versions are correct of gpsoauth and urllib3

[2021-03-26 18:37] tomsruk commented on #114
Hey - it's actually showing Invalid Timestamp in as the entity status.
I've completed a full uninstall and reinstall of everything and I'm getting the same behaviour.
I was using it in an automation which worked for one night but has failed since, so the automation is currently disabled.

[2021-03-26 19:37] leikoilja commented on #95
Uhhh, there is some deep-buried issue here that we need to solve. The worst thing is that we can't replicate it yet, cause for some of us it works as expected, for others - we see a `bad authentication` error.

I don't have many good ideas on how to solve it yet, but here are some thoughts...
Can someone with the issue help replicate it in the isolation? We need to get the same error in isolation

[2021-03-26 19:42] leikoilja commented on #114
@tomsruk, i'm sorry to hear you had to temporarily disable the integration.
Can you please post here the screenshot of your sensor entity (find it using "Developer Tools", "STATES" tab within HA) when it says "invalid timestamp" for you? I would like to see the "state attributes" on that screenshot because it contains some useful data that might be helpful. Also, please check the log files for any

[2021-03-26 20:14] stboch commented on #95
I know its not optimal but is there a way to support adding the master token or the account credentials, i'm not sure how long the master token is good for vs the the account credentials, might be a work around option.

[2021-03-26 20:20] DurgNomis-drol commented on #95
Master token is very very long lived. A couple of years or so. If not more.

[2021-03-26 21:28] tomsruk commented on #114
No need to apologise. You're doing great work!

I've taken the Lenovo clock as an example but I'm getting the same Invalid Timestamp message from the Home Minis I've got.

![39CDA5BD-E22E-4E73-B93B-356F1D5D5822](https://user-images.githubusercontent.com/69199361/112694211-dcb57a80-8e79-11eb-8901-5230390ba3b3.png)

![23ADFB48-520D-40EF-A965-CC764D893F0A](https://user-images.githubusercontent.com/69

[2021-03-27 00:27] gary-reyes opened #118 "Filter chromecast devices"
Since the integration provides alarms and timers, chromecast should be filtered from list ofdiscovered devices since they do not support either of the two features.

[2021-03-27 07:26] leikoilja commented on #95
I'm pretty sure master token is meant to be "forever" lived. But that is a good idea, @stboch. Thank you 💥
Our underlying dependency `glocaltokens` supports receiving `master_token` alone, so we should be able to add that feature relatively effortlessly.

I was thinking we should spend some effort making a better config flow where one can edit the existing config and during initial setup allow use

[2021-03-27 07:35] leikoilja commented on #114
@tomsruk, i'm a bit confused. From the screenshots of your timers and alarms the state is `off` because you have no active alarms/timers set. Can you tell your Lenovo smart kitchen clock to set alarm and timer and then make the screenshots again when it shows the values. Regarding the warning `google_config` I actually think it has nothing to do with `google-home` integration. I don't have any rec

[2021-03-27 07:38] leikoilja commented on #118
Hey, @gary-reyes.
Well, the integration already filters devices that do not support alarms and filters by trying to make an API call to fetch those and if it doesn't succeed it filters those devices. What issue do you have? Are your chromecast devices displayed anywhere?

[2021-03-27 07:47] leikoilja opened #119 "Retry alarms/timers fetching from every discovered device on every coordinator update"
## Describe the bug
Google Home devices are mistakenly filtered:
Devices that actually contain alarms/timers are filtered out if the API request fails to establish because of underlying issues of `pychromcast`.
Please see there two log entries where my Google Home devices were filtered out because the API request to them unexpectedly returned `404`.

## Version of the integration

If you are unsur

[2021-03-27 07:51] KapJI commented on #95
If 2FA is not used, you need to enable "Less secure apps" as well: https://github.com/rithvikvibhu/GHLocalApi/issues/54#issuecomment-674654337

Also can you guys try to use [this gist]( https://gist.github.com/rithvikvibhu/952f83ea656c6782fbd0f1645059055d) directly? Are you still getting the same error? Can you try to downgrade `requests` and `gpsoauth` libs?

Regarding making the component more c

[2021-03-27 09:14] craigmcgowan commented on #114
To hopefully better explain the "Invalid Timestamp" issue.

Previously, an _alarms or _timers entity would display as "Off" or "On" depending on if any were set.

However, they now try to display as a formatted timestamp. So now show as "In 7 hours" if a timer/alarm is set (Rather than just "On"). If no alarm/timer is set they display as "Invalid Timestamp" (Rathe than just "Off")

Please see belo

[2021-03-27 09:20] leikoilja commented on #114
Thank you, @craigmcgowan, for more useful info :)
Regarding the version number, it was getting a bit hectic to maintain many places where the version number was specified, but I see that it might actually be useful to bring it back, thanks for the feedback. Will bring it up to the team, maybe we ll be able to find more elegant way to keep version numbering consistent across all the places where it

[2021-03-27 09:26] KapJI commented on #114
I think what's going on here is that we're now setting device class `timestamp` and it can't render `off` value properly. Probably we should use something else instead of `off`.

[2021-03-27 09:49] KapJI commented on #114
Ok, here is the problem:

- This is how timestamp is rendered in frontend: https://github.com/home-assistant/frontend/blob/fe13853b8b85d47c0795853f6cc63d03652bc133/src/panels/lovelace/components/hui-timestamp-display.ts#L50
- With device class `timestamp` you can set state to `None` or `"unavailable"` and this will be rendered as `Unknown` or `Unavailable`.
- `"off"` will be rendered as `Invalid t

[2021-03-27 10:05] KapJI commented on #114
Regarding the version number this is supposed to be model name rather than integration version. Integration version should be available in HACS.

[2021-03-27 10:12] KapJI commented on #114
Next alarm sensor from `mobile_app` uses `unavailable` when there is no alarm set: https://companion.home-assistant.io/docs/core/sensors/#next-alarm-sensor

[2021-03-27 10:55] gary-reyes commented on #118
I have chromecast with google TV. If you try setting an alarm or timer using the controller, the assistant will say they aren't supported.

[2021-03-27 11:20] KapJI opened #120 "Remove table of contents from README"
Github now has autogenerated table of contents:
<img width="329" alt="Screenshot 2021-03-27 at 11 16 58" src="https://user-images.githubusercontent.com/3767331/112719000-5ab36900-8eee-11eb-87f7-6c2339bdcc9c.png">

Should we remove manual one to avoid maintaining it? Or it's nicer to have both?

[2021-03-27 12:23] KapJI commented on #118
What controller? For chromecast devices we only expose `_device` sensor which contains auth token. This is intentional for people who want to use this token to access other API endpoints e.g. reboot.

[2021-03-27 12:27] KapJI commented on #119
We should probably retry on every coordinator update. If API returns new devices or if old ones start to return alarms, they should be added.

[2021-03-27 12:46] gary-reyes commented on #118
I apologize. I should have looked at it more closely. You are correct. The chromecast with google TV do have the behavior you indicated. The tv i was looking at was a tv with "chromecast built-in". This does show the issue i indicated.

See image below.

On a separate topic, not to deter from original issue, I don't see why the device sensor is included. I know you guys' rationale but I do not see

[2021-03-27 12:48] stboch commented on #95
@KapJI that's is basically the script I ran on the underlying ha container, and it ran fine with all the python packages provided, not sure why when just asynchronously via home-assistant itself it fails.

[2021-03-27 12:56] Golab commented on #95
Any news update? I have the same problem

[2021-03-27 13:07] KapJI commented on #118
If you mean "Invalid timestamp" issue that it's tracked by #114. Basically it's a frontend issue, data is there.

Well, this is unproven statement, I see some value for having it.

You can define automation of custom service which will use this token to perform the request to the local API.

This API may change over time and be different for different devices. It's hard to cover all endpoints and

[2021-03-27 13:13] gary-reyes commented on #118
No i don't meant the invalid timestamp. The issue here is there this device "chromecast built-in" does not support alarms or timers.
![Screenshot_20210327-081323](https://user-images.githubusercontent.com/36871757/112721886-57ab7f00-8ed4-11eb-909f-35301b1bc54c.png)

[2021-03-27 13:25] KapJI commented on #118
That's interesting. I also have Android TV device (Nvidia Shield) but token disappears after the first update and alarm sensor was never added.

So it seems your device actually responds on alarms endpoint with empty list although it's not possible to set any alarms there. Not sure how to avoid adding sensors in this case I really don't think we should have a hardcoded list of supported devices. L

[2021-03-27 13:28] KapJI commented on #95
@stboch what if you go the step further and try to use `glocaltokens` library?

Something like this: https://github.com/leikoilja/glocaltokens/blob/master/example/get_tokens.py

[2021-03-27 13:52] stboch commented on #95
@KapJI sorry should have looked closer I used the glocaltokens implementation of get_tokens.py not the other googleapi one.

but yes it worked no issues was very odd. Not much debugging done in gpsoauth to see if HA is calling something different about urllib3 as part of the environment...

[2021-03-27 15:08] leikoilja commented on #114
Thank you, @KapJI, for taking a look at this. I would rather go with your 2nd proposal and use `UNAVAILABLE` just as you mentioned mobile app sensor uses :) That way we would still keep device class that enables sensors to be used in automation and blueprints without problems (there are some nice popular blueprints out there that filter devices by `device_class` being `DEVICE_CLASS_TIMESTAMP` (see

[2021-03-27 15:09] leikoilja commented on #120
Uuuu, github steps up their game 😄  I'm neutral. I guess we can keep it for now, doesn't seem to take much of effort to maintain it at this points and looks pretty good :)

[2021-03-27 15:14] leikoilja commented on #119
I agree that we should instead retry fetching alarms/timers from device(s) on every coordinator update (currently every 10ish sec), however, what do you mean by querying Foyer API on the interval? As you say, right now we do a call during the initial setup and then, if I'm not mistaken, every time the access token is expired (~24h). Do you think there is any benefit of doing it more often?

[2021-03-27 15:21] KapJI commented on #120
Alright, let's keep it. I actually just noticed it, it's not obvious it's there.

[2021-03-27 15:21] #120 closed

[2021-03-27 15:23] KapJI commented on #119
Yeah, if we query it every few minutes, then new added devices should become quickly available.

[2021-03-27 15:24] leikoilja commented on #118
Do you guys think we should provide some sort of `config_flow` option for whitelist/blacklist devices based on their IPs? It can be an optional setting for "power users" where one could for example add static IP of their TV to be blacklisted? It would it be hectic to do so?

[2021-03-27 15:26] gary-reyes commented on #118
There is already a way to disable devices altogether from within HA. This is what I would use if there wasn't an automatic way filter these device

[2021-03-27 15:26] KapJI commented on #118
There is a standard mechanism in HA to hide entities (in customization). These queries should be harmless so I don't think we need these in config flow.

[2021-03-27 15:35] leikoilja commented on #119
Hmmm we could do so... Maybe it will cover some edge cases when someone configures a new device and expects to see that in HA `Google Home` integration. New tickets like:
- retry fetching alarms/timers from device(s) on every coordinator update?
- fetching Foyer devices every 10 mins?

[2021-03-27 15:38] leikoilja commented on #118
Sounds good! Sorry, @gary-reyes, seems like we can't do much at his point to introduce the filtering of the TV device you have. It seems a very edge-case when TV is returning lists of alarms/devices where these features are actually not supported.
I'll close this issue in a meantime

[2021-03-27 15:38] #118 closed

[2021-03-27 15:40] KapJI commented on #119
Sounds good.

[2021-03-27 17:29] #114 closed

[2021-03-27 17:34] leikoilja opened #122 "Introduce periodic Foyer device fetching"
**Is your feature request related to a problem? Please describe.**
We need to fetch Foyer devices every 10 mins instead of 24h as it is right now. The problem is when a new device is plugged in the user expects the device to appear in `Google Home` integration, however, with a current setup, we only fetch Foyer devices every time the access token goes off (~24h).

**Describe the solution you'd lik

[2021-03-27 17:35] leikoilja commented on #119
1. Let's keep this issue (#119) as a tracking issue for retrying fetching alarms/timers on every coordinator update
2. Periodically fetching Foyer devices tracking issue - #122

[2021-03-27 18:19] leikoilja commented on #95
I have been trying to look around and the topic of `Bad Authentication` has been there for many people in a very random order (see [1](https://github.com/rithvikvibhu/GHLocalApi/issues/54), [2](https://github.com/rithvikvibhu/GHLocalApi/issues/54), [3](https://github.com/Drakulix/googlehome/issues/14)).
@cs42, can you please try downgrading `requests` library by running `pip install requests==2.23

[2021-03-27 20:41] cs42 commented on #95
This still doesn't work.

[code]

[2021-03-28 18:18] DurgNomis-drol commented on #95
@leikoilja If we can implement it in a way that you need to push a button or so to enable advanced login, then i think it is a good work around for now until we can get to the bottom of this. 😄

As @leikoilja said somewhere. We need to find a way to replicate it locally and repeatably before we can find a solution.

My best guess is that it occurs in the `gpsoauth` package and that we should isola

[2021-03-28 18:21] leikoilja commented on #95
I agree, we probs need to remedy the issue rn by introducing `master_token` field in `config_flow` as a workaround until we can replicate and solve the issue at hand.

@DurgNomis-drol, i had an idea that android id might be the issue and I have locally tried to use one of the android id mentioned above as `BadAuthentication` with no results. I was still able to authenticate and it all worked fine

[2021-03-28 18:35] DurgNomis-drol commented on #95
@leikoilja Dammit, i though i got closer to understanding it 😞 If we can get everyone having this issue to try and fetch it directly from `gpsoauth` or maybe even `glocaltokens` to see if it is, as @stboch mentions, a problem with HA.

[2021-03-29 07:39] leikoilja commented on #95
@stboch, can you please try something out for me?
1. Login into `ssh` of your HA instance. Here are some [instructions](https://developers.home-assistant.io/docs/operating-system/debugging/) how to `ssh` to your device if you are using Home Assistant Operating System.
2. Get into the docker container `docker exec -it homeassistant /bin/bash`
3. Get into python shell by running `python`
4. Import `

[2021-03-29 13:06] stboch commented on #95
Ok tested what you asked above, Got the master token when using the  local SSH method (same thing I was doing before) there it worked, and in the UI failed.

Got my dev system rebuilt, only Terminal/SSH and HACS, installed google_home and restarted, after the boot logged in and it worked... gonna try and work backwards install some of the same custom_intergrations I have on my production instance

[2021-03-29 13:07] stboch commented on #95
Also my production instance has been an upgraded instance for a long while... at least 1 1/2 yr since last rebuild so who knows what cobwebs are hiding...

[2021-03-29 13:19] leikoilja commented on #95
Thanks, @stboch for trying it out. As you say the issue is most likely cause by some other conflicting custom integration or specific HA configuration/settings. Please keep us posted with your finding, those can be helpful for many :)

[2021-03-29 16:42] stboch commented on #95
@cs42 Are you also using YouTube Music Player component with your environment?

[2021-03-29 18:10] stboch commented on #95
I found it! @cs42 @nckslater do either of you use LG SmartThinq custom Component? it looks like it lowers the SSL ciphers level

`requests.packages.urllib3.util.ssl_.DEFAULT_CIPHERS += "HIGH:!DH:!aNULL"`

I added this to the file to test...
[code]
Toggle the line to test, anyone know what the supported ciphers are supposed to be? can add a fix by changing them before the client call I think. going

[2021-03-29 18:19] KapJI commented on #95
Default is `'ECDHE+AESGCM:ECDHE+CHACHA20:DHE+AESGCM:DHE+CHACHA20:ECDH+AESGCM:DH+AESGCM:ECDH+AES:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!eNULL:!MD5:!DSS'`

[2021-03-29 18:32] notherealmarco commented on #95
I tried installing it in a clean dev environment and it worked (no device was created, but the dev environment is in another subnet, so I guess this is expected).
I then tried to reinstall the glocaltokens library in the Docker container on the Raspberry (Pi 4) running Home Assistant OS, with: `docker exec -it homeassistant pip3 install glocaltokens==0.2.7`

Then I've got this error:
![image](http

[2021-03-29 18:36] KapJI commented on #95
@notherealmarco it's not related to this issue. Your Docker container doesn't have `build-essential` package which is required to build grpc. Please open a separate issue for this.

[2021-03-29 19:02] stboch commented on #95
Anyone who is having this issue and wasn't running the LG custom components.  can you grep for "DEFAULT_CIPHERS" in your custom_components directory to see if there are any third party components causing the issue. If it find nothing and your able to get to your docker HA Container try this...
`grep -R "DEFAULT_CIPHERS" /usr/local/lib/python3.8/site-packages`

[2021-03-29 19:07] cs42 commented on #95
Yes, I'm using the LG custom component.

[2021-03-29 19:12] KapJI commented on #95
@leikoilja do we have this patch in `gpsoauth`?
https://github.com/simon-weber/gpsoauth/pull/25/files

[2021-03-29 20:07] stboch commented on #95
@cs42 custom_components/smartthinq_sensors/wideq/core_v2.py delete lines 115-125, not sure why they are changing the supported ciphers as it doesn't seem to cause any problems with LG... I will send a Issue and PR for them.

[2021-03-29 20:10] nckslater commented on #95
Me too 👍On 29 Mar 2021 21:07, Carsten ***@***.***> wrote:

I found it! @cs42 @nckslater do either of you use LG SmartThinq custom Component? it looks like it lowers the SSL ciphers level

Yes, I'm using the LG custom component.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-03-29 20:24] cs42 commented on #95
With this change it finally works! I could even use my email as username, as _I would expect_ for a google account.

[2021-03-29 20:58] KapJI commented on #95
Actually I think we shoul rather make `gpsoauth` more bulletproof. It probably should set ciphers explicitly without relying on `DEFAULT_CIPHERS`.

[2021-03-29 21:23] stboch opened #123 "Support Bluetooth Scan / Scan Results"
Back at the start of the GHLocalApi several of us where starting to build a triangulation based presence system based on bluetooth results. Would love to help get this working again as we now have access again.

[Get Scan Results](https://rithvikvibhu.github.io/GHLocalApi/#operation/GetScanResults)
[Initiate Scan](https://rithvikvibhu.github.io/GHLocalApi/#operation/Scanfordevices)

This would lik

[2021-03-29 21:25] KapJI commented on #123
I remember old official `google_home` integration had this feature. Can we just restore that deleted code?

[2021-03-29 22:02] stboch commented on #123
Possibly here is the historical branch for reference
https://github.com/home-assistant/core/tree/a2589f56e1ac87023123dfb98dffc968073c6ca5/homeassistant/components/googlehome

[2021-03-29 22:24] KapJI commented on #95
Thank you @stboch for finding what causes this! Appreciate that a lot 🎉

[2021-03-30 01:35] stboch commented on #123
It also looks like someone updated https://github.com/ludeeus/googledevices to support tokens in the client calls.

[2021-03-30 01:38] stboch commented on #123
Not sure if @Drakulix has seen this component or if you have seen https://github.com/Drakulix/googlehome might be some opporutinity to increase the development effort and combine the projects :)

[2021-03-30 04:36] leikoilja commented on #95
@stboch, awesome job for finding where the issue was buried 💥 🔥

@KapJI, we seem to have the `gpsoauth` patch enabled that you are referring to. It came out in `gpsoauth==0.4.3`, which is what we are using.

Let's keep the issue open for tracking purpose for the time being and once the [LG custom component]`(https://github.com/ollo69/ha-smartthinq-sensors/issues/139) stboch's issue is resolved we

[2021-03-30 04:44] leikoilja commented on #123
Love the idea of introducing a triangulation presence system by use of Bluetooth based devices as you propose, we could definitely do it if someone is interested in taking a lead on that :)

Oh nice, haven't seen @Drakulix fork. It doesn't seem to be a very active project yet, but it would be definitely worth giving a shot to try merging the project and inviting @Drakulix to combine efforts with u

[2021-03-30 11:43] leikoilja opened #124 "More options for config flow"
**Is your feature request related to a problem? Please describe.**
We currently only ask for login and password on config flow. However some people might have issue with `BadAuthentication` cause by different custom components as #95 for example. As an alternative solution we could provide `master_token` input on config UI.
Also we [discuss](https://github.com/leikoilja/ha-google-home/discussions/

[2021-03-30 11:52] KapJI commented on #124
I'd wait before introducing login with `master_token`. I think we can fix `gpsoauth` to be more reliable, its contributor seems to be open for improvements.

If even with this we will have `BadAuthentication` issues then we can add `master_login` in config flow.

[2021-03-30 12:02] leikoilja commented on #124
You it not be an extra useful feature to have independent of `gpsoatuth` package? :D

[2021-03-30 12:15] KapJI commented on #124
I think we should try to avoid to expose low level details to users.

[2021-03-30 13:20] nckslater commented on #95
I have removed smartthinq_sensors completely from my custom_components but still no joy.

Same error: Source: custom_components/google_home/config_flow.py:97
and
Logger: glocaltokens.client
Source: /usr/local/lib/python3.8/site-packages/glocaltokens/client.py:201
First occurred: 15:17:23 (2 occurrences)
Last logged: 15:17:50

[!] Could not get master token.

Maybe I have the wrong code in the goog

[2021-03-30 13:28] stboch commented on #95
@nckslater you did the hacs uninstall of smartthinq_sensors and restarted and still not working? what other custom components do you have installed?

[2021-03-30 13:34] Edo78 commented on #95
In my case this issue vanished after updating the HA docker image to the last one and updating one of my custom components `sonoff`. I've done both things and restarted HA then I was able to login without this issue.

[2021-03-30 13:42] nckslater commented on #95
@stboch I have a number of custom components:

sonoff
securitas_direct
withings
qvr_pro
vesync
surepetcare
google_fit
strava

[2021-03-30 13:45] Edo78 commented on #95
@nckslater wich version of sonoff do you have?

[2021-03-30 13:51] nckslater commented on #95
@Edo78 v2.4.1 AlexxIT / SonoffLAN

[2021-03-30 14:21] Edo78 commented on #95
same here so it can't be and I don't have any other components of your list

[2021-03-30 14:52] leikoilja commented on #95
@nckslater, i know it will be painful to do, but as we have just seen - chances are that some (or just one sucker) of those custom components are causing conflict(s).
I would recommend you to try removing them one by one and see if that issue would go away. `smartthinq_sensors` was one of them, but there might be more 😅  You could go different ways about it: one is to do a full backup of your curr

[2021-03-31 05:21] LEJOUI commented on #124
if I might do another suggestion. Not sure if it’s possible though.
It would be nice if you could select which devices from GH you want to integrate. Now it just imports all of them.

[2021-03-31 05:40] leikoilja commented on #124
@LEJOUI, of course, you are welcomed for suggestions, thanks for bringing it up to a table 💥

We have spoken about it earlier, however, got discouraged to do so since there are soooooo many different devices that may support Google Assistant that it would quickly get painful to maintain that list.
However, now that I think about it... there must be some ways we can still support it.
Let me just pu

[2021-03-31 08:09] KapJI commented on #124
I think the original question is not about supported devices list but about being able to select which supported devices to add.

So this can be a dialog with checkboxes during the config flow if you want to add all or only some devices.

But I'm not convinced if we need this because HA already provides mechanisms to disable devices on integration level or individual entities.
### Disable device
<

[2021-03-31 09:30] KapJI commented on #124
Well, I think we need to fix this and don't show error messages for devices which are just turned off 🙂

[2021-03-31 12:20] joggs commented on #95
Interesting thread!
I am also getting
2021-03-31 13:41:22 ERROR (SyncWorker_26) [glocaltokens.client] [!] Could not get master token.
2021-03-31 13:41:22 ERROR (MainThread) [custom_components.google_home]

I'm aso using the LG custom component
following...

[2021-03-31 14:22] leikoilja commented on #124
It's most likely because we "cache" the devices and try fetching their related data even though the device is off, so as @KapJI  has said it's probably better we fix the log error message and using in-build mechanisms for entity disabling (@KapJI, i m on the go, could you please create a separate issue for that?)

[2021-03-31 17:35] KapJI opened #128 "Don't produce errors when device is unreachable"
## Describe the bug

When device is turned off the component shouldn't spam with errors like this, we can add a message on `debug` level about this. But authentication errors (when token is invalid) are still worth an error message.

## Logs

`2021-03-31 10:59:33 ERROR (MainThread) [custom_components.google_home] Request error: Cannot connect to host 192.168.XXX.XX:8443 ssl:default [None]`

[code]

[2021-03-31 17:35] KapJI commented on #124
#128

[2021-04-01 09:56] glitchcrab opened #129 "Support for GA on Sonos devices"
**Is your feature request related to a problem? Please describe.**
Sonos devices with integrated GA are not discovered. This makes the integration of less use in environments with mixed devices.

**Describe the solution you'd like**
I'm not sure if this is even possible, but it would be good to also have this integration pick up timers and alarms set on GA on Sonos devices.

[2021-04-01 10:51] leikoilja commented on #129
Uuu, that would be an interesting feature. Thou it would really require one of developers to have Sonos devices so test and implement, I am afraid I don't have any of those around :) :/ In theory it should not be hard to make: just adding extra record to `zeroconf` device discovery and making sure the API endpoints match with what google devices use :)

[2021-04-01 12:12] leikoilja commented on #95
@stboch, awesome job for finding the issue with LG-smartthinq integration, it seems that there is an update that fixes the issue with a chipset, can you please try updating LG-smartthinq to the [latest version](https://github.com/ollo69/ha-smartthinq-sensors/releases/tag/v0.6.7) to see if it fixes the problem? :)

[2021-04-01 12:58] joggs commented on #95
Yay!
After submitting login and app password, the configuration window gets
crazy and starts to resize itself about 10 times per second and it goes on
for 30 seconds. After that, the integration is added successfully :-)

[2021-04-01 13:00] leikoilja commented on #95
@joggs, it's a funny behaviour but i m pretty sure not caused from `ha-google-home` integration :D If you feel so, please make a separate ticket with more details.
Happy it works for you now 💥

[2021-04-01 13:06] joggs commented on #95
No problem at all.:-)
I am not sure it works though. Am I supposed to see "x devices and y
entities" on the integration card on the integrations page, like for all
other integrations?
I just see the google home logo on the integration card on the integrations
page, even though I have created a test alarm. I have so many entities on
the developer page, so it is possible that I have something in the

[2021-04-01 13:13] joggs commented on #95
I have no sensors with alarm list or timer lists even though i have 5
google home/nest devices

On Thu, Apr 1, 2021 at 3:06 PM Jörgen Bergström ***@***.***>
wrote:

--

/Jörgen Bergström

[2021-04-01 13:21] leikoilja commented on #95
@joggs, sorry, i'll remove your messages since they are not related to `BadAuthentication` error. Please open a new issue and follow it's template by providing all necessary logs so we'd see what problem you are encountering :)

[2021-04-01 14:05] DurgNomis-drol opened #130 "Reuse master_token when the integration is reloaded."
## Describe the bug

Reuse `master_token` when HA is restarted and the integration i reloaded. Right now we save the `master_token` in `ConfigEntry`, but we don't reuse it. This will fix issues where you can get logged out of your Google Account on other devices.

## Version of the integration

If you are unsure about the version check the [github release here](https://github.com/leikoilja/ha-goog

[2021-04-01 14:54] DurgNomis-drol commented on #129
I believe that adding the zeroconf record should be enough. As GA API should be the same. But we need some one to test it.

Sonos zeroconf record is `_sonos._tcp.` [Referrence](https://github.com/home-assistant/core/issues/27371#issuecomment-609369903)

[2021-04-01 15:18] glitchcrab commented on #129
If there's anything I can do to help out here (test PRs against my Sonoses etc) then please shout! I'm unlikely to be able to contribute code but I can definitely test.

[2021-04-01 15:18] leikoilja commented on #129
@glitchcrab, as a happy owner of Sonos, do you want to help implementing it? :) We've got a bunch of supportive peps around  the team who'd be happy to review your PR and merge it in 💥

[2021-04-01 15:21] leikoilja commented on #129
In short, all you need to do is:
- Setup dev environment (get some guidelines [here](https://github.com/leikoilja/ha-google-home/blob/master/CONTRIBUTING.md))
- Add `_sonos._tcp.` to https://github.com/leikoilja/ha-google-home/blob/3f3aae6dcba6868c26abc84b033cae75152728db/custom_components/google_home/manifest.json#L12
- Test it

[2021-04-01 16:52] #130 closed

[2021-04-01 19:55] brianhanifin commented on #95
I also have an [LG Smartthinq Custom Component](https://github.com/ollo69/ha-smartthinq-sensors) installed. I was successfull with authenticating the Google Home integration today, after the recent LG Smartthinq update. (Was there a conflicting verison of a requirement?)

Anyway, I'm looking forward to exploring it today. :)

[2021-04-02 07:42] leikoilja commented on #85
@KapJI, is there anything left from `typing` to implement?

[2021-04-02 08:02] KapJI commented on #85
Yes, few things.

1. Add `homeassistant-stubs`. I already created [the package](https://pypi.org/project/homeassistant-stubs/). Waiting for the release of homeassistant 2021.4.0 next Wednesday. I can probably start using beta version in the meantime.
2. Annotate `config_flow`. This depends on 1.

[2021-04-02 08:12] leikoilja commented on #85
Oh that's a really nice job! You went far with it 💥

[2021-04-02 10:47] #128 closed

[2021-04-02 12:02] #119 closed

[2021-04-02 13:26] leikoilja commented on #122
@KapJI, @Drakulix, @ArnyminerZ, @DurgNomis-drol anyone up for a fun task? 😅

[2021-04-02 15:26] Drakulix commented on #129
I quickly tested with my sonos devices, none of them advertise `_googlerpc._tcp`, `_googlezone._tcp` and of course not `_googlecast._tcp` (since they are not google cast capable). The only thing they do advertise is `_gasetup._udp`, which is used for device discovery by google home and `_sonos._tcp` for their own local api.

They do not respond on either port `8008` nor `8443` and the `gasetup` md

[2021-04-02 15:29] KapJI commented on #129
So I think supporting Sonos devices is out of scope of this integration.

[2021-04-02 15:29] #129 closed

[2021-04-02 15:55] leikoilja commented on #129
Oh, sadly, but makes sense. Thanks for investigating closer, @Drakulix 🚀

[2021-04-02 18:00] #124 closed

[2021-04-02 18:19] myklebosten commented on #95
Same behaviour here. Tested seting up the Google Home integration unsuccessfully just before updating smartthinq. After updating and a reboot, the setup of Google Home completed without a hitch :)

[2021-04-02 19:46] KapJI opened #146 "Add master branch protection rule."
**Is your feature request related to a problem? Please describe.**
Enable protection rule for `master` branch to require linting job to pass before merging the commit.
This should prevent from accidental breaking of master branch when merging before tests are finished.
Also it's nice to enable `Require linear history` and `Include administrators`, they might be already enabled.

**Describe the sol

[2021-04-02 20:53] lolouk44 commented on #59
happy to help test deletion / creation of alarms too.
I used this a lot on a previous (non google/nest) alarm where an automation would turn the alarm off when left home and enable it when I came back. This was to avoid waking the wife when I was away on a business trip
I understand it's not possible to turn alarms on and off on a nest hub, but being able to create delete would be a nice workaroun

[2021-04-02 20:57] DurgNomis-drol commented on #59
Only delete is possible 😊 i will hopefully look into it tomorrow or Sunday 😊

[2021-04-02 21:02] lolouk44 commented on #59
I feared it might be the case, and if so I might toy with recording my voice asking G to create my alarms, then have this played on a speaker nearby, see if I can trick it into creating alarms this way ;)

[2021-04-02 21:41] glitchcrab commented on #129
Thanks for investigating @Drakulix - appreciate the input!

[2021-04-03 01:55] stboch commented on #95
@leikoilja I think maybe add to the readme under troubleshooting login problems ensure if your using the LG smartthinq custom component that the version is 0.6.7 or newer.

[2021-04-03 05:48] leikoilja commented on #146
Those are some really nice protection rules. I remember really wanting to enable "Require status check to pass before merging" and it was sadly not possible at the time because of failing `HASS` checks when we had troubles with python wheels to build :) But those are all fixed now and i m happy to enable all you proposed 💥
Donezos, thanks @KapJI
![image](https://user-images.githubusercontent.com/1

[2021-04-03 05:55] leikoilja commented on #95
@stboch, we have just added a remark to the troubleshooting section to refer to this issue if someone still gets `BadAuthentication` problem. As we saw from @nckslater, LG smartthinq is not the only custom integration that can cause that behavior, I think we are better off generalizing in the troubleshooting section and just refer people here. So far it was been working for many of us :)

[2021-04-03 08:21] KapJI commented on #146
Looks great, thank you @leikoilja!

[2021-04-03 08:21] #146 closed

[2021-04-03 14:30] LEJOUI opened #149 "Sensors unavailable/ not created"
## Describe the bug
I updated to the latest version. But the sensor became unavailable. So i did a few reinstalls but no luck yet.
I did however forced to logout some unknown activity in my Google account. This was propabely this component. With reinstalling the component it did came back.
The sensor didn't came back though.

## Version of the integration

If you are unsure about the version check

[2021-04-04 10:02] leikoilja commented on #149
@LEJOUI, be careful when posting your logs, cause they might contain your sensitive tokens. There is a [PR](https://github.com/leikoilja/glocaltokens/pull/55) in glocaltokens that will make sure no tokens are displayed, but as of yet, please be aware.

Regarding the bug... This is weird behavior, seems like the API client is just reinitializing all the time, though discovers the devices correctly.

[2021-04-04 10:08] DurgNomis-drol commented on #149
@leikoilja I just censored his master token and access token!

@LEJOUI DO NOT EVER SHOW ANY ONE YOUR MASTER TOKEN! IT IS LIKE HAVING THE MASTERKEY TO YOUR HOUSE!

[2021-04-04 10:27] DurgNomis-drol commented on #149
@LEJOUI As you have leaded your master_token when you passed the logs and because github keeps the edit history. You should change your password so google will generate a new master token. This is very serious.  See my post above!

[2021-04-04 11:14] LEJOUI commented on #149
Thanks, I changed my password. I didn’t know that the token was password dependent. Thought it was created by a new install of the configuration.

[2021-04-04 11:16] DurgNomis-drol commented on #149
Good to here!

It works like a master key unfortunately.

[2021-04-05 21:05] #59 closed

[2021-04-06 12:01] #85 closed

[2021-04-07 02:53] lolouk44 commented on #149
Same issue here. Did a few remove integration > restart > add integration which temporarily fixes it but eventuality my sensors begins unavailable.

I have this showing up at the time it occurred
[code]

[2021-04-07 06:34] DurgNomis-drol commented on #149
@lolouk44 The `off` state of the sensors is `unavailable`. If you set an timer og an alarm it will set a state 😄

[2021-04-07 06:54] lolouk44 commented on #149
Thanks @DurgNomis-drol
But that's the point. I use a nest hub as an alarm and I do have an alarm set, yet it still shows as unavailable...

[2021-04-07 07:02] DurgNomis-drol commented on #149
@lolouk44 Right, that should not happen. Can you post your log for setting up the integration, it will tells a bit more information about why i fails? Remember to check that you are not including any tokens 😄

[2021-04-07 07:22] LEJOUI commented on #149
I found my error just now.. The Shield device once more. After I powered it off it created the sensors again.

[code]

[2021-04-07 07:36] LEJOUI commented on #149
In addition. When the shield is on it will throw the timeout and none of the sensors are updating. Once the shield goes off it doesn't give the timeout and updates the sensors again.

[2021-04-07 09:09] leikoilja commented on #149
@LEJOUI, thanks for the info, what you have described looks like a bug to me. I believe what happens is when we try fetching data from unsupported devices like shield the data updater hangs with `Timeout fetching sensor data` blocking the other device sensors to update. I think we need to better handle timeouts when they occur in [api's](https://github.com/leikoilja/ha-google-home/blob/d5f55e37f13

[2021-04-07 09:46] lolouk44 commented on #149
@leikoilja @DurgNomis-drol here you go:
<logs>
  <summary>Logs</summary>

[code]
</logs>

let me know if this helps.
An yes, token really should be automatically redacted in the logs.
Also I have several instances of `is possibly not Google Home compatable and has no alarms/timers. Will retry later`
See if you can replace `compatable` with `compatible` when you get the chance 😉

[2021-04-07 09:56] lolouk44 commented on #149
just did a [PR](https://github.com/leikoilja/ha-google-home/pull/157) for this :)

[2021-04-07 10:23] KapJI commented on #149
Currently we have 10 seconds timeouts for API queries. For too large, we should reduce it to 1-2 seconds. And failing to update single device shouldn't cause losing data for all of them, that's a bug.

[2021-04-07 10:45] lolouk44 commented on #149
I've only got 1 alarm on one device though (Bedroom Nest Hub), the other devices have no alarms and no timers. just in case...

[2021-04-07 12:45] leikoilja opened #160 "Update glocaltokens to v0.3"
@DurgNomis-drol, @KapJI as promised here is a new version of `glocaltokens`
See https://github.com/leikoilja/glocaltokens/releases/tag/v0.3.0 (See the breaking changes)

Before we upgrade `glocaltokens` we need to make sure it's not going to break the integration.

[2021-04-07 12:54] KapJI commented on #160
In `api.py` `device.ip` should be changed to `device.ip_address`. Other than that it should be fine.

@DurgNomis-drol can you check that `remove_service` error is resolved with `0.3.0`?

[2021-04-07 13:15] #160 closed

[2021-04-07 18:05] KapJI commented on #95
Ok, I'm closing this. Actions we've taken to remediate this:
- Added troubleshooting section in README.
- Pointed out to LG ThinQ author that they shouldn't alter urllib3's `DEFAULT_CIPHERS`. They have fixed this already in the new version.
- Updated `gpsoauth` to use fixed list of ciphers to prevent similar issues in the future.

Please update to 1.3.0 where this should be solved.

[2021-04-07 18:05] #95 closed

[2021-04-07 18:10] KapJI commented on #149
Please update to 1.3.0 to see if this issue is already resolved there. Also it should redact logs properly now.

[2021-04-07 21:23] LEJOUI commented on #149
Great to see the progress. Unfortunately  it still behaves the same

[2021-04-08 08:45] lolouk44 commented on #149
updated to 1.3 yesterday, now I have no devices/entities found at all. Tried multiple remove integration > reboot > set up the integration from the discovered entry without luck.
Will try and get some more logs later today...

[2021-04-08 10:31] derandiunddasbo commented on #149
This doesn't seem to be a general problem. I have 5 GH devices and a Google Assistant compatible JBL speaker in my setup and despite some of them not always being available reliably (some of them have problems keeping a stable wifi connection, because... of the weather or... who knows... ;-) ) with 1.3.0 I don't have any problems regarding the creation of the sensors or their status updates.

[2021-04-08 10:38] KapJI opened #165 "Errors on 2021.4.0"
## Describe the bug

I see multiple errors in logs and sensors are not created. Don't have much time to investigate further right now.

## Version of the integration

If you are unsure about the version check the [github release here](https://github.com/leikoilja/ha-google-home/releases).

[code]

## Glocaltokens Version (Underlying package)

[code]

## Logs

[code]

[code]

This one is when updat

[2021-04-08 11:17] LEJOUI commented on #149
I noticed that here the integration broke totaly. It doesn't matter if I have the Shield on or off. It throws a timeout.

<details>
<summary>

logs
</summary>
<p>

[code]

[2021-04-08 15:04] DurgNomis-drol commented on #165
Same here, tried reinstalling and the problem persist. I have an 2021.3.4 instance running. I will test if the problems also occurs on that. 😄

[2021-04-08 15:34] DurgNomis-drol commented on #165
I found these two breaking changes, they may, or may not be related. [1](https://github.com/home-assistant/core/pull/48387) and [2](https://github.com/home-assistant/core/pull/48302)

[2021-04-08 15:43] DurgNomis-drol commented on #165
I just tried installing 1.2 and it fails at the same point, though I don't have same details in log as 1.3 😢

[2021-04-08 16:12] KapJI commented on #165
This means that's not something we broke in 1.3 😀
Btw, releasing them in the same day was not the greatest idea.

[2021-04-08 16:15] DurgNomis-drol commented on #165
I though the exact same thing moments ago. 😆

[2021-04-08 20:25] KapJI commented on #165
After downgrading to 2021.3.4 it works again on 1.3.0. So yeah, something is wrong with the new version.

[2021-04-08 20:36] KapJI commented on #165
Also it works after upgrading back to 2021.4.0. So initial setup is actually broken.

[2021-04-08 20:54] KapJI commented on #165
I can no longer reproduce this. Looking at the error again:
[code]

It might be there was an issue with Foyer API itself.

[2021-04-08 21:02] DurgNomis-drol commented on #165
Nice find! But why does this only happen on the newer version. I haven't got that error, so i can either reproduce it.

It would be a hell of a coincidence if that was the case. Just looked up to see if there have been any reported problems with Google Home, and cannot find any.

Is `grpcio` and `grpcio-tools` still pinned on 2021.4?

But i got a say that error message is about as useful as just s

[2021-04-08 21:35] ManuelLR commented on #90
Just for your information, today I updated HA and the ingration to the latest releases (2021.4 and v1.3.0) and magically all works perfectly. I can configure the integration without problems, retrieve data and also delete timers.

Really thanks for your help here!

[2021-04-08 21:37] DurgNomis-drol commented on #165
Main reason for this, is the issue it causes on the armv7 platforms using our containers (and thus wheels).
It seems like it want to use a backtrace, however, that is not available in musl based systems (like Alpine).
While not a solution, we do have working wheels for 1.31.0, and can make multiple integration working again.

home-assistant/core#40678

I unfortunately don't think it is possible ri

[2021-04-08 21:38] KapJI commented on #165
Well, they had issues with 1.32, the latest is 1.37. There is a chance, it was that issue was already fixed.

[2021-04-08 21:40] DurgNomis-drol commented on #165
I will test with latest. give me a moment to see if it work.

[2021-04-08 21:43] KapJI commented on #165
You also need to test 1.32 to make sure you can reproduce this issue there. Ideally, it's nice to test all versions between 1.32 and 1.37 to have stronger supporting data.

[2021-04-08 21:47] DurgNomis-drol commented on #165
Yes, something strange just happened. I just installed `grpcio` and `grpcio-tools` with out it having to build the wheels. With other version i always had build them from scratch.

I will first test if the new version actually fixes our problems and then go back and test the other packages in a more controlled environment so we can get some clean data about which versions works and fails.

[2021-04-08 21:49] KapJI commented on #165
This is how it should work, they ship wheels for all platforms: https://pypi.org/project/grpcio/#files

[2021-04-08 21:50] KapJI commented on #165
Well, honestly I don't think our issues are caused by this. But it'd be nice to help HA community and unpin grpcio if possible. For us it will be just faster and simpler installation with initial `poetry install`.

[2021-04-08 21:51] DurgNomis-drol commented on #165
But they didn't do that before. When me and @leikoilja first started out we had to build the wheels when we installed it, until we pinned our version as the same HA and add `grpcio-tools` to to [custom wheels](https://github.com/home-assistant/wheels-custom-integrations)

[2021-04-08 21:53] KapJI commented on #165
Yeah, I also was building it, not sure why older versions are not using precompiled wheels.

[2021-04-08 21:58] KapJI commented on #165
Oh, I know. Older ones were only built for Python 3.8 and I use 3.9.
- Since 1.33.1 they provide wheels for 3.9 as well.
- And they just started to provide wheels for arm64 in 1.37.0, so it might be fixed there.

[2021-04-08 21:58] DurgNomis-drol commented on #165
I just tried installing version 1.3 of google home and now it works for me. 🤔 This is really strange. I will investigate some more about `grpcio` and `grpcio-tools`. But lets move that to another issue. 😄

[2021-04-08 21:59] DurgNomis-drol commented on #165
With grpcio 1.31, testing now with 1.37

[2021-04-08 22:03] DurgNomis-drol commented on #165
Running 1.37 now and it seems to work. I cannot not remove the integration and add it again, because HA will then automatically downgrade. But it seems that we can relax our requirements. Maybe doing a test release of glocaltokens so we can test it?

[2021-04-08 22:05] KapJI commented on #165
We can't use newer version of grpc if it's still pinned in HA, that's the point of unpinning it 🙂

[2021-04-08 22:07] DurgNomis-drol commented on #165
Shouldn't we be able to force our own version when glocaltokens is installed. And yes we should aim to get it unpinned. Me and @leikoilja was able to do that in the beginning before we pinned glocaltokens version to the same as HA.

[2021-04-08 22:10] DurgNomis-drol commented on #165
I now got this error:

[code]

This occurs after a restart. I am running 1.37

[2021-04-08 22:11] KapJI commented on #165
I think HA should prioritise its package constraints over component manifest. But even if it's possible, it can break other components if that issue on arm devices is not fixed.

[2021-04-08 22:17] DurgNomis-drol commented on #165
I know and I agree. 😄 But I am not 100% sure (other then the one you linked further up) what other integrations/components is affected. I am not 100% sure how we can prove that they can safely unpin it, but maybe you have some knowledge about that?

[2021-04-08 22:19] KapJI commented on #165
Yes. `from grpc._cython import cygrpc as _cygrpc` shouldn't fail 😀

[2021-04-08 22:21] DurgNomis-drol commented on #165
I am not sure i understand what you mean by that 🤔

[2021-04-08 22:23] KapJI commented on #165
The reason why they pinned it was that import failing on raspberry pi with grpcio 1.32. If it no longer fails with newer version, it can be unpinned.

[2021-04-08 22:24] DurgNomis-drol commented on #165
What is the best way to test this? can we just execute a script inside the HA container (or other alpine container on RPI) and see if it fails?

[2021-04-08 22:27] KapJI commented on #165
Yeah, should be enough.

[2021-04-08 22:30] DurgNomis-drol commented on #165
Right this should be trivial to test then. Give me a sec.

Another thing, I have experienced that the integration simply fails after some time. with out any real reason. But i hope 1.3 fixes this. Will report back about it tomorrow. 😄

[2021-04-08 22:37] DurgNomis-drol commented on #165
It still fails with 1.37 😢

[2021-04-08 22:42] DurgNomis-drol commented on #165
Maybe you have the skill to look into `grpcio` and `grpcio-tools` and fix it? 🤞

[2021-04-08 22:53] KapJI commented on #165
This looks promising: https://github.com/grpc/grpc/issues/24002#issuecomment-814022836

[2021-04-08 22:58] DurgNomis-drol commented on #165
Unfortunately ARM64 is not compatible with ARMv7 😢

[2021-04-09 07:23] LEJOUI commented on #149
So in HA 2021.4 it seems to be working again. I still need to put the SHIELD off to make it update the sensors.

[2021-04-09 11:03] KapJI commented on #165
After update to 2021.4.1 I have the same issues again. I collected logs, will see what's going on there.

[2021-04-09 12:30] lolouk44 commented on #149
upgraded to 2021.4.1 and nothing is discovered... I'm away for a week so will have to pick this up on my return...

[2021-04-09 13:03] DurgNomis-drol commented on #165
I just updated to 2021.4.1 and it works for me.

[2021-04-09 13:04] DurgNomis-drol commented on #149
Maybe this is related to #165.

[2021-04-09 13:57] leikoilja commented on #165
Just installed 2021.4.1 and works fine for me 🤔  Could there be some issues with some other packages or dependancies some might have as we had with LG components? 🤔  @KapJI do you have any custom components/integrations enabled? :)

[2021-04-09 14:41] vlebourl commented on #149
Hey, I seem to have a similar problem than you guys. In my case, I have a lot of cast compatible devices, but most of them aren't google home compatible (chromecasts, android tvs for instance). Could fetching them all when some of them will never return anything, or would just be irrelevant, lead to that timeout error?
For instance:
[code]
Maybe adding an option to filter devices could be a good i

[2021-04-09 18:12] DurgNomis-drol commented on #149
@leikoilja @KapJI @lolouk44 @LEJOUI and @vlebourl I think i have found out why this is happening and how we can mitigate it. 😄

The problem is caused by how we user `asyncio.gather`. I am right now investigating how we can mitigate it. When using `gather`, if one task is not completed correctly, it fails everything. It is a limitation of `gather` unfortunately.

[2021-04-09 18:20] KapJI commented on #149
This might happen but `asyncio` docs say it should handle exceptions properly:
https://docs.python.org/3/library/asyncio-task.html#asyncio.gather

[2021-04-09 18:22] DurgNomis-drol commented on #149
I have found the error i think. PR coming in a couple of minutes. 😄

[2021-04-09 19:38] apaperclip opened #169 "Support for family notes"
**Is your feature request related to a problem? Please describe.**

I would like to present visual notes/reminders on a google home hub/nest hub display.

**Describe the solution you'd like**

Google family notes may provide a way to do this https://support.google.com/assistant/answer/10243081?hl=en
CRUD operations for these notes from HA would be convenient and powerful.

**Describe alternatives

[2021-04-09 19:41] KapJI commented on #169
I don't think there is a way to do this with GH local API. Can you create them in the app?

[2021-04-09 19:44] DurgNomis-drol commented on #169
Only endpoints [here](https://rithvikvibhu.github.io/GHLocalApi/) is possible as far as i know. 😄 But i like idea, maybe it will be possible in the future.

[2021-04-09 19:45] KapJI commented on #169
Yeah, it seems they can be only created on Nest Hub itself, not even with Assistant on the phone.
Basically it's impossible to create them programatically.

[2021-04-09 20:38] apaperclip commented on #169
Thanks for the fast replies!

[2021-04-09 20:38] #169 closed

[2021-04-09 20:53] DurgNomis-drol commented on #149
What i thought was simple to fix, is giving me a lot of trouble.

The problem is that we timeout while gathering information from `get_alarms_and_timers()` for each device. If the device times out (404), it fails the entire gather function in `update_google_devices_information` and it returns an exception (asyncio.Timeout), even when other coroutines returns data. So effectively if one device retu

[2021-04-10 07:34] leikoilja commented on #149
@DurgNomis-drol, that's an amazing find, awesome job! 🚀  Let's see if this can help us fix the issue (started getting them today as well). But also feel free to upload some WIP on the branch and PR (just mark the PR with WIP) and some of us can step in and support you 💥

[2021-04-10 08:27] DurgNomis-drol commented on #149
@leikoilja See #170

[2021-04-10 11:23] #149 closed

[2021-04-10 11:24] DurgNomis-drol commented on #149
@lolouk44 @LEJOUI @vlebourl  Can you guys please try and install latest master and see if that fixes your issues?

[2021-04-10 11:25] DurgNomis-drol commented on #165
@KapJI What do we think about this issue now? Do we think it is related to the one we just fixed or?

[2021-04-10 11:26] KapJI commented on #165
I think it fixed the issue I had but still indicates about that some errors are not handled properly. They are mostly on `glocaltokens` side but options are on integration side.

[2021-04-10 11:29] DurgNomis-drol commented on #165
Should we split them up to keep track of the separately?

[2021-04-10 12:40] LEJOUI commented on #149
It’s working for me! It proper gives a time out in the debug log for the SHIELD and catches the data from the other devices. Nice!

[2021-04-10 12:42] DurgNomis-drol commented on #149
@LEJOUI Great to hear, can you confirm it does not timeout after sometime? 😊

[2021-04-10 14:36] #165 closed

[2021-04-10 17:52] vlebourl commented on #149
Working for le as well! And in the end, data is correctly retrieved. Sorry for that lousy PR I did. And thanks for the good job!

[2021-04-10 18:12] lolouk44 commented on #149
I've installed via HACS. I don't see an update yet? Is it not yet in hacs via a new version then? Not complaining, just asking 😊

[2021-04-10 18:36] DurgNomis-drol commented on #149
1.4 have not been released yet. It is waiting to be merged and published 😊 You can install master for now.

[2021-04-10 19:36] KapJI commented on #149
@lolouk44 now it's released and you can install it from HACS 🙂

[2021-04-10 19:45] leikoilja commented on #149
@lolouk44 @LEJOUI @vlebourl, please let us know how it goes 🚀

[2021-04-11 06:25] LEJOUI commented on #149
I can confirm it. have been running it all night without failing.

[2021-04-11 07:39] leikoilja commented on #149
Amazing! Thanks @DurgNomis-drol & @KapJI once again for hard work fixing it 🚀

[2021-04-11 11:55] GuyKh opened #176 "4 is not a valid GoogleHomeAlarmStatus"
## Describe the bug
Integration fails to load entities. Exceptions in log
![image](https://user-images.githubusercontent.com/3136012/114303277-f7bcf700-9ad5-11eb-9507-05ad6c31c3d8.png)

## Version of the integration

If you are unsure about the version check the [github release here](https://github.com/leikoilja/ha-google-home/releases).

[code]

## Glocaltokens Version (Underlying package)

[code

[2021-04-11 11:57] lolouk44 commented on #149
Thanks. After the update all my entities showed up indeed, however my nest hub still isn't showing alarms:
![784D33B9-704B-4244-ABBC-9A8C53D5D92F](https://user-images.githubusercontent.com/4587746/114303301-48782400-9ac5-11eb-95a2-a23dda212df2.png)
![112B61E6-352A-4A2A-8DC8-6EE06C6D366E](https://user-images.githubusercontent.com/4587746/114303303-4a41e780-9ac5-11eb-98ac-b3d18ba0e874.jpeg)

I'm awa

[2021-04-11 12:05] KapJI commented on #176
Do you know what `4` means?

[code]

[2021-04-11 12:07] KapJI commented on #149
Let's create new issue for that.

[2021-04-11 12:08] KapJI commented on #176
@AstroViking any ideas?

[2021-04-11 20:21] GuyKh commented on #176
When I check which alarms are there the Google Home Mini

There are these two (Music Alarms in Spotify)
![Screenshot_20210411-231945_Home](https://user-images.githubusercontent.com/3136012/114319986-7d639580-9b1c-11eb-8038-1220b99aa68b.jpg)

[2021-04-11 20:55] KapJI commented on #176
How did you set it? I tried various media alarms including recurring ones but they always just have "set" state.

[2021-04-11 21:01] GuyKh commented on #176
'''
- OK Google, Set a music alarm at 8am
- Sure. And what would music would like to play?
- The beatles
- Sure, The Beatles at 8am. Set.
'''

Or something simiar

[2021-04-11 21:08] KapJI commented on #176
Yeah, I did exactly that. In my case it gets "set" state. I even checked that while playing it has "ringing" state and after cancelled it has "set" again for the next day. We can probably mark 4 as unknown but it's interesting to figure out what it really means.

[2021-04-12 05:25] GuyKh commented on #176
Perhaps it's due to the alarm being set only Sun-Thu maybe?

[2021-04-12 08:44] leikoilja commented on #176
@GuyKh, the fix if merge #181, we'll release it in a few days to test :)

[2021-04-12 08:44] #176 closed

[2021-04-12 10:41] AstroViking commented on #176
Actually no clue either... Never seen that state before. 🤔

[2021-04-12 11:20] leikoilja commented on #176
@GuyKh, please give it a try and let us know: https://github.com/leikoilja/ha-google-home/releases/tag/v1.4.1

[2021-04-12 16:56] soloam opened #183 "Getting a Config Flow Could Not Be Loaded"
## Describe the bug

I try to install and I get this error:
![image](https://user-images.githubusercontent.com/11949987/114430013-dfbca480-9bb5-11eb-8ecb-1cd3e9d29c6e.png)

I tried to see the log, but no information and apparently the integration is installed

## Version of the integration

If you are unsure about the version check the [github release here](https://github.com/leikoilja/ha-google-h

[2021-04-12 17:01] KapJI commented on #183
Please enable debug logs and attach the whole `home-assistant.log` after home assistant restart.

[2021-04-12 17:47] whitehead-aa commented on #176
On Lenovo smart clock "state_four" comes back when I make the alarm inactive:
![image](https://user-images.githubusercontent.com/31188516/114435435-0d0c5100-9bbc-11eb-95d7-4ac8ed2e7b40.png)
![image](https://user-images.githubusercontent.com/31188516/114435950-b18e9300-9bbc-11eb-8e6c-779bd1a7ef05.png)

When setting it active again status changes to set:
![image](https://user-images.githubuserconten

[2021-04-12 18:09] skank01 opened #184 "Google home device not deleted if a device is renamed in google home"
## Describe the bug

After renaming a google home device in google home (the device switched room too) , the new device/entities are created by the addon, but the old ones stay present.
Even after reloading the addon....

## Version of the integration

Latest version

[2021-04-12 18:10] KapJI commented on #176
I tried on Nest Hub Mini but it also doesn't respond (even to Google Home app).

[2021-04-12 18:14] KapJI commented on #176
@whitehead-aa can you try to pause timer on lenovo clock? Maybe we have missing status there as well?

[2021-04-12 18:15] KapJI commented on #184
This is not implemented. You can remove old entities manually in HA entity manager.

[2021-04-12 18:29] skank01 commented on #184
No you cant, you can only disable it.

[2021-04-12 18:31] KapJI commented on #184
You may need to restart HA. Then it should be possible in entities registry:
<img width="594" alt="Screenshot 2021-04-12 at 19 31 41" src="https://user-images.githubusercontent.com/3767331/114443538-b6a41000-9bc5-11eb-97b9-d9c366247b6c.png">

[2021-04-12 18:37] whitehead-aa commented on #176
Status returns 2 when the timer is paused (tried with both voice and touchscreen)

However HA shows all sensors for the device as "unavailable" while the timer is paused. I will get some logs and raise that as a separate issue

[2021-04-12 18:47] KapJI commented on #176
Here is the fix: https://github.com/leikoilja/ha-google-home/pull/185

[2021-04-12 19:38] KapJI commented on #176
@whitehead-aa it's merged. Can you test the master?

[2021-04-12 20:06] whitehead-aa commented on #176
Alarm looks ok.

![image](https://user-images.githubusercontent.com/31188516/114453141-266bc800-9bd1-11eb-9f86-40c526f686de.png)

There are other problems with pausing the timer so I Can't check that

[2021-04-12 20:19] whitehead-aa opened #187 "Pausing a timer causes all sensors to go to "unavailable""
## Describe the bug
Pausing a timer causes all sensors, that are part of this integration, to go to "unavailable"
Once the timer is un-paused all sensors start to work again
![image](https://user-images.githubusercontent.com/31188516/114455718-f5d95d80-9bd3-11eb-8343-bfdaecce1057.png)

## Version of the integration

If you are unsure about the version check the [github release here](https://github

[2021-04-12 20:22] whitehead-aa commented on #187
Suspect this is caused because there is no "fire_time" attribute when the timer is paused

When Paused:
[code]
When timer running:
[code]

[2021-04-12 20:23] KapJI commented on #187
That's right, I'll fix it.

[2021-04-13 06:31] peterjuras opened #191 "Feature request: Add/remove speakers to currently playing music"
**Is your feature request related to a problem? Please describe.**

I have multiple Google Homes (or Nest Audios) in my home and like to listen music from Spotify on multiple devices at the same time. There are multiple ways to achieve this, e.g. by selecting a preconfigured speaker group as the target for Spotify.

The Google Home app however, has a feature where you can dynamically add or remove

[2021-04-13 06:38] leikoilja commented on #187
Let's get that release going 🔥

[2021-04-13 06:46] leikoilja commented on #191
If the google home app has that functionality, I believe this can be implemented within the `ha-google-home` integration. A bit out of our current scope, but could defs be in a roadmap and @peterjuras if you have an interest and skills you are more than welcome to take a lead on helping to implement it 🚀

I don't think we should be adding API calls into the existing integration, but we have plans

[2021-04-13 06:51] gary-reyes opened #192 "Change alarm volume"
According to this https://rithvikvibhu.github.io/GHLocalApi/#operation/AlarmVolume the volume change should be straight forward

[2021-04-13 06:54] leikoilja commented on #192
@DurgNomis-drol, you are our expert at implementing HA services. Would you be interested in looking at it?

[2021-04-13 07:02] gary-reyes commented on #192
Sorry for also not including in original post but it would also be great to know the current alarm volume in either another sensor or as part of an attribute of another sensor

[2021-04-13 07:24] leikoilja commented on #192
That's a good point, thanks for good ideas, @gary-reyes. I'll create a separate issue for fetching the current volume of the device. That can either be a sensor or/and a service that allows you to call and return the value. But i think the sensor indeed be more useful

[2021-04-13 07:24] DurgNomis-drol commented on #192
I can implement it, but it is probably gonna be next week before i have time for it 😊

[2021-04-13 07:24] leikoilja opened #193 "Device current volume"
Would also be great to know the current alarm volume in either another sensor or as part of an attribute of another sensor

_Originally posted by @gary-reyes in https://github.com/leikoilja/ha-google-home/issues/192#issuecomment-818494408_

[2021-04-13 07:25] DurgNomis-drol commented on #192
How I see it is gonna be implemented is a sensor for the current volume and a service to set the volume.

[2021-04-13 07:26] leikoilja commented on #192
@DurgNomis-drol no worries at all, take your time. 🚀
Yeh, what you are saying makes good sense, let's keep the implementation discussion under the #193 issue :)

[2021-04-13 07:28] leikoilja commented on #193
I propose instead of creating a whole new sensor we fetch the volume data and save in a "generic" device sensor that can collect all such data. We currently have `timers`, `alarms` and `token` sensors, but how about leaving `timers` and `alarms` as are but creating a sensor called `device` or smth that will hold the token and data like current volume for now. And then device-specific info can go h

[2021-04-13 07:32] KapJI commented on #193
Alarm volume is more related to alarms sensor, IMO. I'd add it there.

[2021-04-13 07:37] leikoilja commented on #193
Oh right, I was actually getting confused between two concepts: alarm/timer volume and device volume. The alarm/timers volume defs should go into alarm/timer sensor, but do we have a way to tweak device volume like playback volume? 🤔

[2021-04-13 07:41] gary-reyes commented on #193
The current volume also applies to timer volume.

My two cents would be to have a generic sensor to hold misc things. The few things left to implement using the local API are things like the Equalizer levels. If that's something that's ever wanted, then having them in a device sensor makes sense

[2021-04-13 07:44] gary-reyes commented on #193
Yes. You can change the normal volume using the cast integration. I use this to change the do not disturb settings and lower volume when I go to sleep and reset when I wake up

[2021-04-13 08:08] 24jonny opened #194 "Sleep sensing with Nest Hub (2nd gen)"
The second generation of the Nest Hub, released in 2021, supports a feature called [sleep sensing](https://support.google.com/googlenest/answer/10357290).
The Hub is using Google's low power radar sensor called Soli to determine if someone is close to it and if it is placed next to your bedside it will track your sleep and tell you at what time you lied down in bed, what time you started sleeping,

[2021-04-13 08:17] KapJI commented on #193
Well, if alarm volume is also applied to timers volume, let's add it to `device` sensor which we already have.

Device volume is a different setting as I understand it. But it should be possible to set it as well.

[2021-04-13 08:19] KapJI commented on #194
We don't mimic Google Home app, we use Google Home local API: https://rithvikvibhu.github.io/GHLocalApi/#section/Google-Home-Local-API

If someone can figure out how Google Fit gets this data, we can probably add it.

[2021-04-13 08:20] #187 closed

[2021-04-13 08:24] KapJI commented on #187
@whitehead-aa please try 1.4.2.

[2021-04-13 08:32] 24jonny commented on #194
Oh, okay, sorry for my uneducated and wrong description 😄

[2021-04-13 08:37] leikoilja commented on #193
Exactly. So as proposed earlier we could for now just have those 'common' stuff under `device` sensor.

[2021-04-13 08:39] leikoilja commented on #194
I can proxy google fit app to see what API calls it does to begin with, but i don't have google nest hub 2 to try it on, dont think that data will be there for me

[2021-04-13 09:18] KapJI commented on #194
I'd expect device sends this data to Google and then app fetches this via grpc. Similar to home graph. Not that simple to reverse engineer, you'll probably need to bypass certificate pinning and extract proto file from the app.

[2021-04-13 09:27] leikoilja commented on #194
haha sounds hectic :D i did something similar to proxy and see rest api calls on other apps, but not google home that uses grpc and other communication concepts. Might be a big challenge thou 🤔

[2021-04-13 09:34] Duncank opened #195 "Reduce log warnings for offline and not-google-home devices"
**Is your feature request related to a problem? Please describe.**
My logs in HA show these warnings: `Failed to connect to Soundbar device. The device is probably offline.` for a couple of my devices. Some of these devices are speakers with Google Cast built in, but not Google Home devices. I've got 6836 occurrences in the log since yesterday-morning. (since starting this issue, I've got 50 extra

[2021-04-13 10:03] KapJI commented on #195
Yeah, this happens because of new Do No Disturb switch. We should print this messages to debug.

[2021-04-13 10:10] sebirdman commented on #195
When I receive this message, it seems to happen at a very specific time for me on my google home devices every single day. I've seen it happen twice now at the exact same time frame.

It just occurred about 10 minutes ago. I've got some alarms set, but they do not show up anymore after this happens.

[2021-04-13 10:23] sebirdman opened #196 "Devices that go offline do not fetch the alarm state after returning"
## Describe the bug

Every morning at around 02:50 my google homes go offline for some reason for about 10 minutes. I get the log: "maybe it is offline" and then they come back online.

However. If i have any alarms set, these alarms do not show back up. After restarting home assistant they still show as unavailable. It appears that alarms do not show up in the state unless they are set while the

[2021-04-13 10:31] KapJI commented on #196
Yeah, more logs should be useful. We're continuously querying all devices. When it come back online, alarms should be fetched.

[2021-04-13 10:50] DurgNomis-drol commented on #193
Should alarm volume just be an attribute then? And then keep tokens as state or should we move token to an attribute instead? I think volume is probably more useful 😊

[2021-04-13 10:58] DurgNomis-drol commented on #191
I think this is out of scope for this integration as this is a Google Cast feature and not possible in the local API. 😊

What I mean by Google Cast feature is that, this is controlled by the Google Cast API as far as I understand and should be implemented in the Default cast integration instead of here. We don't expose Media players and don't have any way of connecting to the the API used for that

[2021-04-13 10:59] RouNNdeL opened #197 "Devices found but not initialized"
## Describe the bug

The integration initializes both master and access tokens successfully, scans the devices, lists then, but does not create any entities.

## Version of the integration

[code]

## Logs

[code]

[2021-04-13 11:52] KapJI commented on #193
I think we should make token an attribute and state should be something like device available (maybe ip address)/unavailable.

[2021-04-13 11:54] KapJI commented on #197
It seems these devices are not available on your home graph. Can you check if you have them in Google Home app when logged in from the same account?

[2021-04-13 12:03] leikoilja commented on #193
Yeh i agree with the state being ip address or unavailable :)

[2021-04-13 12:19] DurgNomis-drol commented on #193
But i think right now that fixing the bugs is more important.

On a side note, i am also spending sometime rewriting my card to be able to take advantage of the new features and want to catch up there before we implement more 😊

[2021-04-13 12:22] KapJI commented on #193
Yeah, this is defininely not urgent 🙂

[2021-04-13 12:25] RouNNdeL commented on #197
That's my bad. I've used an alternative Google account that was not added to my Home. Fixed it and everything works as expected. Maybe the README could mention that in the troubleshooting section?

[2021-04-13 12:25] #197 closed

[2021-04-13 12:34] KapJI commented on #197
Feel free to submit PR with update to troubleshooting section 🙂

[2021-04-13 12:41] DurgNomis-drol commented on #184
Will be low priority as you can delete entities in HA directly as @KapJI have said 😊 Also adding auto delete, we will risc that devices will appear and be removed and appear again and so on.

[2021-04-13 12:43] KapJI commented on #184
Right now we use `device_name` in entity unique id. I think glocaltokens can provide some real device specific id for the device. Then HA should handle renames itself.

[2021-04-13 12:46] RouNNdeL commented on #197
Sure :)

[2021-04-13 13:15] DurgNomis-drol commented on #184
Let's create a separat feature for changing the unique id from `device_name` to a "Real" unique id. 😃

We can probably find a unique id from [this](https://rithvikvibhu.github.io/GHLocalApi/#operation/EurekaInfo) endpoint.

[2021-04-13 13:17] leikoilja commented on #184
We can indeed either extract something from `eureka` endpoint or simply generate `uuid` on `glocaltokens` side :)

[2021-04-13 13:23] DurgNomis-drol opened #199 "Feature - Change unique id from device_name to something really unique."
We can either use [this](https://rithvikvibhu.github.io/GHLocalApi/#operation/EurekaInfo) endpoint or as @leikoilja mentioned, we can generate one in glocaltokens.

What do you guys think is the best option?

**Original:**
Right now we use `device_name` in entity unique id. I think glocaltokens can provide some real device specific id for the device. Then HA should handle renames itself.

_Origina

[2021-04-13 13:37] KapJI commented on #199
The best option is some id from eurika or zeroconf. MAC address should be good as well.

[2021-04-13 13:45] DurgNomis-drol commented on #199
I think it would be great if we can generate one from homegraph. It will also make it possible for us to then introduce a ``device.compatible` attribute, so the first time we actually know if the device is compatible, we don't need to check again. 😃

[2021-04-13 13:48] leikoilja commented on #199
That does sound nice. Let's create a follow-up ticket on `glocaltokens` to getting an ID and passing it over

[2021-04-13 14:27] dshokouhi commented on #194
Google fit has a custom component that i am sure can get the data, the OAUTH permissions required will not be approved Google.  We looked into adding it in teh companion app but the permissions were all listed as restricted and only available to users on their own.  They have even more restrictions in the next week on google fit too :(

https://github.com/cyberjunky/home-assistant-google_fit

The

[2021-04-13 15:10] QuanTrieuPCYT opened #200 "Can't login to Google account - Username/Password is incorrect"
## Describe the bug
I'm new to Home Assistant
After installing the Google Home integration into custom_components, it discovered my Google Home Mini
but when I tried to log in to my google account (I tried several times and I remember my Google account password, also I don't use 2FA) it just said Username/Password is incorrect
![image](https://user-images.githubusercontent.com/73286927/114575114-1

[2021-04-13 15:12] DurgNomis-drol commented on #194
@dshokouhi Thanks for giving some insight.

This seems to be a part of Google Fit or am misunderstanding something? I think that Google Fit is out of scope for this integration, and should be either a part of a Google Fit integration or the companion app if it becomes possible in the future. 😄

[2021-04-13 16:46] whitehead-aa commented on #187
When paused "Next timer Status" reports paused.  on UI
![image](https://user-images.githubusercontent.com/31188516/114589159-51acf080-9c7f-11eb-97f3-65b77e5b809f.png)

Other sensors remain working.

tested on v1.4.2

Note: The State when timer paused is still "unavailable"  but I think that's intentional.

[2021-04-13 16:51] leikoilja commented on #200
@QuanTrieuPCYT have you tried going through the Troubleshooting section [here](https://github.com/leikoilja/ha-google-home#troubleshooting)? It highlights the possible issues with 2 factor authentication and how to deal with those :)

[2021-04-13 17:25] QuanTrieuPCYT commented on #200
yes I tried
i don't use 2FA so app password is not an option for me
I also enabled logging into unsecured apps but it didn't work either
and I also edited configuration.yaml to enable logging

[2021-04-13 17:40] KapJI commented on #200
@QuanTrieuPCYT please check if you can get tokens using this gist from your raspberry pi: https://gist.github.com/rithvikvibhu/952f83ea656c6782fbd0f1645059055d

[2021-04-13 18:04] DurgNomis-drol opened #202 "Device timesout after a getting data for a short time"
## Describe the bug

Hey guys.

I have for the last week or so been having a weird problem with my Google Nest Mini. Our integration works great, but after a couple of minutes i get this debug message (See logs below) which i expect.

I can still talk to the device, but in the Google Home app i cannot access my device settings for my device. My first thought was that something had gone wrong with

[2021-04-13 18:07] KapJI commented on #202
I had something similar with Nest Hub Mini yesterday but then it remediated itself. Seems to work since then.

[2021-04-13 18:09] leikoilja commented on #202
I did have the same behavior as well a few times. Thou currently my RPi has just stopped working with constant "Unable to connect to Home Assistant" since morning. Nothing seems to be helping, so i ll just focus on fixing it first 😅

[2021-04-13 18:12] #195 closed

[2021-04-13 18:17] DurgNomis-drol commented on #202
Mine have just gotten to a point now where i cannot get it to work at all and i cannot figure out why or how it is caused, since i am the only one having it, it should be something unique to mys setup, but I don't have a fancy network setup, just a tp-link wireless router and nothing else.

How is your devices connected to the network (2.4G, 5G or ethernet)?

I also have a problem with my RPI lock

[2021-04-13 20:47] DurgNomis-drol commented on #202
I think i have found out what is happening.

When I spam an endpoint call like this just after a restart with Google Home integration disable `curl -X GET https://192.168.0.205:8443/setup/eureka_info -k`. It crash's after about 20-50 calls in a row. If I then stop and wait sometime, it still won't respond with new API calls.

So my conclusion is that the webserver that Google uses on there devices

[2021-04-13 21:26] KapJI commented on #202
I just did 500 requests in 53s (9.4 req/s) to Google Home Mini, it responded to all of them.

[2021-04-13 21:35] DurgNomis-drol commented on #202
Strange, i may have a faulty one then 😞 Can you paste your script here so i can try an see if it replicates?

[2021-04-13 21:39] KapJI commented on #202
Well, script 😅
[code]

[2021-04-13 21:39] KapJI commented on #202
Btw, I think I broke it. I cancelled it with Ctrl-C and it no longer responds. Maybe unfinished requrests block it?

[2021-04-13 22:06] DurgNomis-drol commented on #202
I just tried doing a 1000 request, it worked fine until i opened the Google Home App and the it stopped. I then did Ctrl +C and tried to run it again and it timed out. But it seems to solve it self after sometime(as you suggest), but for me it is much more then 30 seconds. 🤔 I don't use the Google Home normally, only to delete alarms or timers, until i have implemented it.

Do you think it does no

[2021-04-13 22:15] KapJI commented on #202
I mean in my case it responds for 30 seconds on a single request. Now it took almost 2 minutes.

I don't think it's a RAM size. It's probably shitty webserver implementation.

[2021-04-13 22:19] KapJI commented on #202
I think we can detect this and reboot the device using api call with disabled timeout. In my case it worked. It rebooted with no sound, shouldn't be annoying.

[2021-04-13 22:20] DurgNomis-drol commented on #202
How can you see that it hangs on TLS handshake? 🤔

That does not surprise me. 🙄

[2021-04-13 22:21] KapJI commented on #202
Run curl with `--verbose`.

[2021-04-13 22:26] DurgNomis-drol commented on #202
It seem to switch from TLS 1.3 to 1.2 after server hello for some reason? I don't know much about this, but could that be anything?

[2021-04-13 22:27] KapJI commented on #202
I think it doesn't support 1.3. In my case it uses 1.2 and forcing 1.3 causes an error.

[2021-04-13 22:34] DurgNomis-drol commented on #202
Right. I just did a little bit of research and it seems to be that there is a known bug in some versions of `openssl` that will cause the handshake to just hang forever. And if we are (un)lucky that is exactly that version they are using. 😭

[2021-04-13 22:35] KapJI commented on #202
Do you have a link to that issue?

[2021-04-13 22:37] DurgNomis-drol commented on #202
[Stackoverflow](https://stackoverflow.com/a/62073551) talking about it, see also comment under the one I have linked. This is not directly about openssl but why it is happening.

[This](https://github.com/python-trio/trio/issues/819) is long manifest about it, i haven read it all. But I think it hits spot on with our problem.

[2021-04-13 22:40] DurgNomis-drol commented on #202
[This](https://github.com/openssl/openssl/issues/11438#issuecomment-606927855) one seems to also be about it. Directly on `openssl` github

[2021-04-13 22:43] DurgNomis-drol commented on #202
I realised that the first one is not that important. 🤔

[2021-04-13 23:03] KapJI commented on #202
I tried using different ciphers and downgrading to TLS 1.1 but it still becomes slow after few cancelled requests. It seems rebooting is the only way to remediate this.

[2021-04-13 23:05] KapJI commented on #202
List of ciphers Google Home Mini supports:
[code]

[2021-04-13 23:13] DurgNomis-drol commented on #202
As far as i understand it is because of this line `TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA (secp256r1) - A` we are having problems, it expect a SHA1 128 but gets SHA2 256 or am i misunderstanding something.

And yes that is probably then workaround for now that we should implement or maybe I should test run for sometime and see if it fixes it for me.

[2021-04-13 23:32] KapJI commented on #202
No, it announces which ciphers it supports during the handshake and then curl uses what it expects. It hangs before this actually.

[2021-04-14 00:08] KapJI commented on #202
@DurgNomis-drol I was experimenting with this, you can try it: https://github.com/KapJI/ha-google-home/tree/reboot-timedout

[2021-04-14 01:49] sebirdman commented on #196
@KapJI So here are my steps that i can reproduce the problem with:

1) set alarm for 1 hour via voice
2) reboot home assistant
3) Observe:

[code]

Specifically:

[code]

I see regular polling:

[code]

But i do not see the problem device being queried here.

[2021-04-14 06:20] andrec54 opened #204 "Display Home devices keep old alarms thus "next alarm" is always the same old alarm in the sensor state"
## Describe the bug
The Google home devices with screen at least save all old alarms even after dismissed. Because of this the first alarm in the sensor state is the first one I ever set and can be weeks/months old and of no interest. It is only future alarms that are of interest in most usecases. The sensor should show the next upcoming alarm instead.

## Version of the integration 1.4.2

If you

[2021-04-14 10:20] KapJI commented on #204
Can you show how Alarms screen looks like on that device?

[2021-04-14 11:41] leikoilja commented on #202
oh flip, you guys have some interesting talks here... :)
The problem is real, but we can't just start restarting google home devices :/ it can bring to a bad user experience very quickly :/ How about decreasing the API call frequency and looking at making those calls sync instead of async as @DurgNomis-drol proposed earlier? 🤔

[2021-04-14 11:45] KapJI commented on #202
We don't make parallel calls to the same device. Decreasing frequency won't solve this problem and will make UX worse for everyone.

[2021-04-14 11:49] #204 closed

[2021-04-14 11:51] leikoilja commented on #202
Right, just double checked, those are separate devices we call in parallel, with all sync calls to the same device - that's good.

A weird observation but i did notice sometime the devices dont even appear in HA after HA is reset for the same reason of `timeout`. Maybe device force restart at HA initialisation can help to "sync them all up"? 😅  haha, not sure how that would work though

[2021-04-14 11:54] KapJI commented on #202
Just an idea but maybe if restart happens during the request, it will cause this issue similar to `ctrl-c` in curl.

We started to see this after 2021.4.0 release but some people reported this issue on previous release as well, so that's probably not related.

[2021-04-14 11:58] leikoilja commented on #202
Yeh, that could be a thing about "broken requests" if HA was restarting. That could be "solved" by "syncing" HA with google devices.

It seems only happening on the few latest HA releases, but also in `ha-google-home`. I don't recall having timeouts when we were just bluntly fetching alarms and timers

[2021-04-14 12:01] KapJI commented on #202
Yeah, probably we can gracefully shutdown the component when HA restarts.

[2021-04-14 12:06] leikoilja commented on #202
uuuu, have you seen any implementation around for handling that? That would be great to do

[2021-04-14 12:07] KapJI commented on #202
Nope, but I'd expect HA has something for that.

[2021-04-14 13:39] DurgNomis-drol commented on #202
I also had the problem on 2021.3 😊So i don't think it necessarily something HA changed but rather something we have changed in the integration. I can test against older version of our integration later and see if it solves the problem 😊

[2021-04-14 16:50] KapJI commented on #196
`google_device is not provided` indicates this device is not found in local network by zeroconf discovery. This is how we get ip address of the device.

[2021-04-15 05:58] leikoilja commented on #196
hmm, we perhaps after introducing `uids` for devices we can force run `glocaltokens` task to discover devices to solve this issue, @KapJI, @DurgNomis-drol ? :)

[2021-04-15 07:41] KapJI commented on #196
Yeah, that's actually pretty similar to #122

[2021-04-15 20:04] soloam commented on #183
I'll be back to this on the weekend! Thank you

[2021-04-15 20:31] stboch opened #211 "Stop fetching or alarms and timers when device is "Chromecast *""
## Describe the bug

Since this isn't currently a supported feature in chromecast devices, and the device hardware is known by the app, perhaps rather then retrying at next interval only do it when the component reloads/starts

## Version of the integration

[code]

## Logs

[code]

[2021-04-15 20:32] stboch commented on #211
similar to #118

[2021-04-15 22:58] #211 closed

[2021-04-15 23:47] QuanTrieuPCYT commented on #200
I reinstalled the glocaltokens package and everything is working fine now. I also reenabled 2FA. Thanks guys

[2021-04-15 23:47] #200 closed

[2021-04-17 18:38] mrand opened #219 "Timer missing on old Google Mini"
## Describe the bug

No timer entity is showing from my (old original) Google Mini.  I even tried rebooting HA when there was a timer set.
I have a battery powered JBL20 speaker, and it's timer is shown:

![image](https://user-images.githubusercontent.com/435987/115123298-f54d1800-9f81-11eb-87c5-417fe6ff78d5.png)

## Version of the integration

[code]
BTW, I'd suggest to have the integration print

[2021-04-17 18:42] KapJI commented on #219
[code]
Probably related to https://github.com/leikoilja/ha-google-home/issues/202. Try to reboot that device.

[2021-04-17 19:36] mrand commented on #219
Rebooting the device resulted in the entities being created.  I'll close this and watch that bug.

BTW, I agree that the integration should not automatically reboot a device - it could already be in use, or about to be in use.  Instead, instruct the user to "Reboot when the device isn't in being used."

[2021-04-17 19:36] #219 closed

[2021-04-17 21:10] Leatherface75 commented on #123
Any news about this?

[2021-04-18 09:45] DurgNomis-drol commented on #202
I have a small update guys, i have just installed the latest version (1.4.3) and after that rebooted my google device and now it seems to work.

I may think this is important:

1. Disable/Remove integration
2. Restart Google device
3. Wait for the Google device to fully reboot.
4. Activate/Add the integration again.

It has now been running for half an hour and it is still working. Before it stopp